@media (max-width: 767px) {
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  
  .navigation, .mobile-navigation {
    float: right;
    margin-top: -60px;
}
  #header > .container {
    height: 130px;
}
}
@media (min-width: 768px) and (max-width: 979px) {
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important ;
  }
}
/* Landscape Phone */
@media (max-width: 480px) {
  /* Slider */
  .theme-default .nivo-caption {
    bottom: 0;
    width: 100%;
    font-size: 14px;
    padding: 5px 10px;
    text-align: center;
  }
  .theme-default .nivo-directionNav a {
    background: url("../images/slider_buttons_mobile.png") no-repeat scroll 0 0 transparent;
    width: 27px;
    height: 27px;
  }
  .theme-default a.nivo-prevNav {
    left: 0;
    top: 40px;
  }
  .theme-default a.nivo-nextNav {
    right: 0;
    top: 40px;
    background-position: 0 -27px;
  }
  /* Portfolio */
  .portfolio .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .gallery2 .item {
    display: block;
  }
  /* Subnavigation */
  .subnavigation {
    float: none;
    text-align: center;
  }
  .subnavigation li {
    float: none;
  }
  .subnavigation li.current {
    background: none;
  }
  /* Header */
  #header .container {
    background: none;
  }
  /* Blog */
  .blog1 .comment_body,
  #comments .children .comment_body {
    width: 80%;
    float: right;
  }
  .blog1 .button_shadow_right,
  .portfolio_open_column .button_shadow_right {
    margin-right: 9px;
  }
  /* Price Table */
  .price_table .tcol {
    float: none;
    margin: 0 auto 21px;
    width: 100%!important;
  }
  /* Tabs */
  .tab_head li {
    float: none;
  }
  .tab_head a.selected span {
    color: #FFF;
    background: none;
  }
  .tab_last .selected .tab_text,
  .tab_head .selected .tab_text {
    background-image: none !important;
    background: #ccc !important;
    float: none;
  }
  .tab_head .selected .tab_end {
    display: none;
  }
  .tab_head a.selected {
    background-image: none;
  }
  .tab1 .tab_last .selected .tab_end,
  .tab1 .tab_last .selected .tab_text,
  .tab2 .tab_last .selected .tab_end,
  .tab2 .tab_last .selected .tab_text {
    background-image: none !important;
  }
  /* Special Navigation */
  .tab_review .white_tags {
    display: block;
  }
}
/* 480 to 767 px screens */
@media (min-width: 481px) and (max-width: 767px) {
  .gallery2 .item {
    display: table;
    margin: 0 auto;
  }
}
/* All Mobile Sizes */
@media (max-width: 767px) {
  /* General */
  body {
    padding-right: 10px;
    padding-left: 10px;
  }
  .container {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .row {
    margin-left: 0;
  }
  [class*="span"] {
    display: block;
    float: none;
    width: auto;
    margin-left: 0;
    margin-bottom: 20px;
  }
  /* header contact section */
  .contact-section .social_icons{
	margin: 0 auto;
	display: table;
	float: none;
  }
  .contact-section .contact-text{
	margin: 6px auto 0;
	display: table;
	float: none;
  }
  /* Sidebar */
  .sidebar {
    margin-top: 0;
  }
  .right_sidebar {
    background: none;
    padding: 0;
  }
  .right_sidebar_after {
    display: none;
  }
  .blog_detail,
  .sidebar .pagination_container,
  .portfolio_sidebar div {
    background: none;
  }
  .sidebar .pagination_container {
    height: 42px;
  }
  .portfolio_sidebar li:first-child {
    background: none;
  }
  /* Blog */
  .blog1 .post_date {
    float: left;
  }
  .blog1 .post_head {
    margin-bottom: 10px;
  }
  .tagline1 .button {
    margin-left: 0;
    float: none;
    margin-bottom: 20px;
  }
  /* Portfolio */
  .gallery1 .item .frame_hover {
    left: 4px!important;
    bottom: 3px!important;
    display: block!important;
  }
  .portfolio .jcarousel-next-horizontal{
	top: 40%;
	right: -20px;
  }
  .portfolio .jcarousel-prev-horizontal{
	top: 40%;
	left: -35px;
  }

  /* Price Table */
  .price_table .featured {
    width: 312.32px;
  }
  /* Footer */
  #footer [class*="span"] {
    margin-bottom: 30px;
  }
  /* Special Navigation */
  #home-navigation .head_cell {
    display: block;
  }
  #home-navigation .steps .circle {
    margin-left: 0;
    float: none;
    display: table;
    margin: 0 auto 15px;
  }
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media (min-width: 768px) and (max-width: 979px) {
  .row {
    margin-left: -20px;
  }
  [class*="span"] {
    margin-left: 20px;
  }
  .container {
    width: 724px;
  }
  .span12 {
    width: 724px;
  }
  .span11 {
    width: 662px;
  }
  .span10 {
    width: 600px;
  }
  .span9 {
    width: 538px;
  }
  .span8 {
    width: 476px;
  }
  .span7 {
    width: 414px;
  }
  .span6 {
    width: 352px;
  }
  .span5 {
    width: 290px;
  }
  .span4 {
    width: 228px;
  }
  .span3 {
    width: 166px;
  }
  .span2 {
    width: 104px;
  }
  .span1 {
    width: 42px;
  }
  .offset12 {
    margin-left: 764px;
  }
  .offset11 {
    margin-left: 702px;
  }
  .offset10 {
    margin-left: 640px;
  }
  .offset9 {
    margin-left: 578px;
  }
  .offset8 {
    margin-left: 516px;
  }
  .offset7 {
    margin-left: 454px;
  }
  .offset6 {
    margin-left: 392px;
  }
  .offset5 {
    margin-left: 330px;
  }
  .offset4 {
    margin-left: 268px;
  }
  .offset3 {
    margin-left: 206px;
  }
  .offset2 {
    margin-left: 144px;
  }
  .offset1 {
    margin-left: 82px;
  }
  /* Sidebar */
  .sidebar {
    max-width: 208px;
  }
  .sidebar .pagination3 .next,
  .sidebar .pagination3 .previous,
  .sidebar .pagination3 .page_current,
  .sidebar .pagination3 .page {
    margin-right: 0;
  }
  /* Blog */
  .blog1 .post_date {
    float: left;
  }
  .blog1 .post_head {
    margin-bottom: 10px;
  }
  /* Price Table */
  .price_table .tcol {
    width: 120.66px;
  }
  /* Special Navigation */
  #home-navigation .steps {
    background: none;
  }
  #home-navigation .steps .circle {
    margin-left: 10px;
  }
  .tab_review .span2,
  .tab_review .span10 {
    width: 100%;
  }
}
/* Small Desktop */
@media (min-width: 980px) and (max-width: 1199px) {

.sf-menu > li {
    float: left;
    padding: 0 0px;
}
.sf-menu a{
font-size:16px!important;
}


  .row {
    margin-left: -20px;
  }
  [class*="span"] {
    margin-left: 20px;
  }
  .container {
    width: 940px;
  }
  .span12 {
    width: 940px;
  }
  .span11 {
    width: 860px;
  }
  .span10 {
    width: 780px;
  }
  .span9 {
    width: 700px;
  }
  .span8 {
    width: 620px;
  }
  .span7 {
    width: 540px;
  }
  .span6 {
    width: 460px;
  }
  .span5 {
    width: 380px;
  }
  .span4 {
    width: 300px;
  }
  .span3 {
    width: 220px;
  }
  .span2 {
    width: 140px;
  }
  .span1 {
    width: 60px;
  }
  .offset12 {
    margin-left: 980px;
  }
  .offset11 {
    margin-left: 900px;
  }
  .offset10 {
    margin-left: 820px;
  }
  .offset9 {
    margin-left: 740px;
  }
  .offset8 {
    margin-left: 660px;
  }
  .offset7 {
    margin-left: 580px;
  }
  .offset6 {
    margin-left: 500px;
  }
  .offset5 {
    margin-left: 420px;
  }
  .offset4 {
    margin-left: 340px;
  }
  .offset3 {
    margin-left: 260px;
  }
  .offset2 {
    margin-left: 180px;
  }
  .offset1 {
    margin-left: 100px;
  }
  /* Sidebar */
  .sidebar {
    max-width: 280px;
  }
}
/* Large Desktop */
@media (min-width: 1200px) {
  .row {
    margin-left: -30px;
  }
  [class*="span"] {
    margin-left: 30px;
  }
  .container {
    width: 1170px;
  }
  .span12 {
    width: 1170px;
  }
  .span11 {
    width: 1070px;
  }
  .span10 {
    width: 970px;
  }
  .span9 {
    width: 870px;
  }
  .span8 {
    width: 770px;
  }
  .span7 {
    width: 670px;
  }
  .span6 {
    width: 570px;
  }
  .span5 {
    width: 470px;
  }
  .span4 {
    width: 370px;
  }
  .span3 {
    width: 270px;
  }
  .span2 {
    width: 170px;
  }
  .span1 {
    width: 70px;
  }
  .offset12 {
    margin-left: 1230px;
  }
  .offset11 {
    margin-left: 1130px;
  }
  .offset10 {
    margin-left: 1030px;
  }
  .offset9 {
    margin-left: 930px;
  }
  .offset8 {
    margin-left: 830px;
  }
  .offset7 {
    margin-left: 730px;
  }
  .offset6 {
    margin-left: 630px;
  }
  .offset5 {
    margin-left: 530px;
  }
  .offset4 {
    margin-left: 430px;
  }
  .offset3 {
    margin-left: 330px;
  }
  .offset2 {
    margin-left: 230px;
  }
  .offset1 {
    margin-left: 130px;
  }
  /* Price Table */
  .price_table .tcol {
    width: 195px;
  }
  .video .description {
    display: block;
    width: 370px;
  }
}

/* User-added styles */

@media print {
    img, .btn, .button, .contact-section, .subtitle, .tab-head-background, .tab_head, .ls-container, #header, #intro, #footer, .video iframe {
        display: none !important;
    }

    .tab_content {
        display: block !important;
    }
}

@media (min-width: 768px) {
  .tab_content .col + .col {
    margin-left: 90px;
  }
}

#myIframe-pdf {
  position: relative;
  padding-bottom: 65.25%;
  padding-top: 30px;
  height: 0;
  overflow: auto;
  -webkit-overflow-scrolling:touch; //<<--- THIS IS THE KEY
  border: solid black 1px;
} 
#myIframe-pdf iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* End user-added styles */
