/*

	Theme Name: HAXON
	Theme URI: http://demo.sacredpixel.com/wp/haxon/
	Author: PixFlow
	Author URI: http://themeforest.net/user/PixFlow
	Description: Haxon is a responsive business wordpress theme with unlimited colors and clean design.
	Version: 1.4
	License: GNU General Public License version 3.0
	License URI: http://www.gnu.org/licenses/gpl-3.0.html
	Tags: black, blue, green, brown, pink, purple, red, white, yellow, four-columns, right-sidebar, flexible-width, custom-colors, theme-options, translation-ready
	All files, unless otherwise stated, are released under the GNU General Public License
	version 3.0 (http://www.gnu.org/licenses/gpl-3.0.html)

*/

/*-----------------------------------------------------------------------------------*/
/*		CSS Reset
/*-----------------------------------------------------------------------------------*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{
  border:0;
  font:inherit;
  font-size:100%;
  margin:0;
  padding:0;
  vertical-align:baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{
  display:block
}

/*-----------------------------------------------------------------------------------*/
/*		Document Setup
/*-----------------------------------------------------------------------------------*/

body
{
  background-color:#fff!important;
  color:#666;
  font-family:'Open Sans', sans-serif;
  font-size:12px;
  line-height:21px;  /*background: url(images/bg_blackboard_1.jpg);*/
}

ol,ul
{
  list-style:none;
}

blockquote,q
{
  quotes:none
}

blockquote:before,blockquote:after,q:before,q:after
{
  content:none
}

table
{
  border-collapse:collapse;
  border-spacing:0
}

a
{
  color:#009cff;
  text-decoration:none
}

a:hover
{
  color: rgba(0,156,255,0.6);
}

p
{
  line-height:21px;
  margin-bottom:15px
}

strong
{
  color:#000;
  font-weight:700
}

img
{
  max-width: 100%;
}

.container
{
  margin:0 auto;
  padding:0 10px;
  width:940px
}

.clear,.container:after,.parentclear:before,.parentclear:after,.row:before,.row:after
{
  content:"\0020";
  display:block;
  height:0;
  overflow:hidden;
  visibility:hidden;
  width:0
}

.clear,.container:after,.row:after,.parentclear:after
{
  clear:both
}

.row,.parentclear
{
  zoom:1
}

.underline
{
  border-bottom:1px solid #b4b4b4;
  display:inline-block
}

.left
{
  float:left!important
}

.right
{
  float:right!important
}

.middle
{
  float: none;
  margin: 0 auto;
}

.hidden
{
  display:none
}

.no_border
{
  border:none!important
}

textarea,input[type="text"]
{
  
  font-size:14px;
  outline:none
}

h1
{
  font-size:36px;
  line-height:42px;
  margin-bottom:10px
}

h2
{
  font-size:30px;
  line-height:36px;
  margin-bottom:10px
}

h3
{
  font-size:24px;
  line-height:30px
}

h4
{
  font-size:18px;
  line-height:24px
}

h5
{
  font-size:14px;
  line-height:21px;
  text-transform:uppercase
}

h6
{
  font-size:12px;
  line-height:21px;
  text-transform:uppercase
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a
{
  color:#202020
}

h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover
{
  text-decoration:none
}

.row
{
  margin-bottom:21px;
  margin-left:-20px
}

.span1,.span2,.span3,.span4,.span5,.span6,.span7,.span8,.span9,.span10,.span11,.span12
{
  float:left;
  margin-left:20px;
  position:relative
}

.colored
{
  color:#009cff
}

.span1
{
  width:60px
}

.span2
{
  width:140px
}

.span3
{
  width:220px
}

.span4
{
  width:300px
}

.span5
{
  width:380px
}

.span6
{
  width:460px
}

.span7
{
  width:540px
}

.span8
{
  width:620px
}

.span9
{
  width:700px
}

.span10
{
  width:780px
}

.span11
{
  width:860px
}

.span12
{
  width:940px
}

/* Visibility */

.visible-phone     { display: none !important; }
.visible-tablet    { display: none !important; }
.visible-desktop   { }
.hidden-phone      { }
.hidden-tablet     { }
.hidden-desktop    { display: none !important; }

.round
{
  -moz-border-radius:0 15px;
  -webkit-border-radius:0 15px 0 15px;
  border-radius:0 15px 0 15px
}

.round_image
{
  -moz-border-radius:0 15px;
  -webkit-border-radius:0 15px 0 15px;
  border:3px solid #fff;
  border-radius:0 15px 0 15px;
  box-shadow:1px 1px 1px 1px #cecfcf
}

#main
{
  margin:42px 0 21px
}

.more_link:hover
{
	text-decoration:none;
}

/*-----------------------------------------------------------------------------------*/
/*		Header Styles
/*-----------------------------------------------------------------------------------*/

.contact-section
{
	border-bottom: 1px solid #e5e5e5;
	padding: 4px 0;
}

.contact-section .contact-text
{
	float: left;
}

.contact-section .social_icons
{
	float:right;
}

.contact-section .social_icons
{
	margin-bottom: 0;
}

.contact-section .contact-text
{
	margin-top: 6px;
	margin-right: 20px;
	color: #cbcbcb;
}

.contact-section .contact-text a
{
	color: #cbcbcb;
}

#header
{
    padding-top: 4px;
    margin-bottom: 1em; /* user-added */
}

#logo
{
  float:left;
}

.navigation,
.mobile-navigation
{
  float:right;
}

.sf-menu li.active {
/*border-bottom:5px solid #009cff;*/
}

.sf-menu li.active a {
	color:#000!important;
	float:left;
}

.sf-menu li.active > a {
	border-bottom:4px solid #009cff;
}
.sf-menu li.active ul a {
	color:#999!important;
}

.sf-menu li.active ul li a:hover{
	background-color:#009cff;
	color: #fff !important;
}

.sf-menu,.sf-menu * {
	list-style:none;
}

.sf-menu li {
  display:block;
  position:relative;
}

.sf-menu ul {
  background:#303030;
  display:block;
  left:10px;
  margin-top:5px;
  position:absolute;
  visibility:hidden;
  z-index:9999;
  opacity: 0.9;
}

.sf-menu ul li a {
	padding:12px 30px 12px 15px;
	min-width: 140px;
}

.sf-menu > li {
	float:left;
	padding: 0 10px;
}

.sf-menu ul > li:hover {
	background-color:#009cff;
}

.sf-menu ul > li:hover  a {
	color:#fff;
}

.sf-menu li:hover>a {
color:#009CFF;
}

.sf-menu li:hover > ul,.sf-menu li.sfHover > ul {
display:block;
}

.sf-menu a {
display:block;
position:relative;
font-size:17px;
text-decoration:none;
color:#999;
 padding:16px 7px;
 white-space:nowrap;
}

.sf-menu ul ul {
top:0;
left:100%;
}

.sf-menu a.sf-with-ul {
min-width:1px;
}

.sf-sub-indicator {
position:absolute;
display:block;
right:.75em;
top:.9em;
width:10px;
height:10px;
text-indent:-999em;
overflow:hidden;
background:none;
}

/* End of New Nav */

#intro .login
{
  -moz-transition:background 500ms;
  -o-transition:background 500ms;
  -webkit-transition:background 500ms;
  background:#790047 url(images/login_arrow.png) no-repeat 90% center;
  border-bottom:1px solid #520231;
  color:#fff;
  display:block;
  float:right;
  height:24px;
  line-height:24px;
  margin:8px 15px;
  padding-left:10px;
  text-align:left;
  text-decoration:none;
  transition:background 500ms;
  width:90px
}

#intro .login:hover
{
  background:#620039 url(images/login_arrow_hover.png) no-repeat 90% center
}

#intro
{
  background:#3FBFBF;
  /* border-top: 1px solid rgba(0,0,0, 0.1);
  border-bottom: 1px solid rgba(0,0,0, 0.1); */
}

.search
{
  float:right; 
  height:24px;
  margin:8px 0;
  max-width:220px;
  width:100%;
  border-radius: 3px;
}
/* max width changed from 190px to 220px Cremona */

.search input
{
  float:left;
  font-size:12px
}

.search input[type="text"]
{
  background-color:transparent;
  border:none;
  color:#767676;
  height:22px;
  padding:1px 5px;
  max-width:170px;
  width:100%;
  text-align: right;
}
/* max-width changed from 150 to 170 cremona */

.search input[type="submit"]
{
  background:transparent url(images/search_button.png) no-repeat center center;
  border:none;
  cursor:pointer;
  height:24px;
  margin:0;
  padding:0;
  width:26px
}

.search input[type="submit"]:hover
{
  background:transparent url(images/search_button_hover.png) no-repeat center center;
}

#intro h2
{
  color:white;
  display:inline-block;
  float:left;
  font-size:20px;
  margin-right: 15px;
  line-height:42px;
  margin-bottom:0;
  padding-right:52px
}

.subnavigation
{
  float:left;
  font-size:14px
}

.subnavigation li
{
  display:block;
  float:left;
  margin-left:10px;
  padding: 7px 0;
}

.subnavigation li.current
{
	border-bottom: 2px solid #009cff;
}

.subnavigation li.current a
{
  color:#009cff
}

.subnavigation li a:hover
{
  color:#009cff;
  padding:0 10px
}

.subnavigation a
{
  color:#8d8d8d;
  display:block;
  padding:0 10px;
  font-size: 13px;
  font-weight: 400;
}

.subnavigation a:hover
{
  text-decoration:none
}

/*Mobile Navigation*/

.mobile-navigation {
    position:relative;
}

.mobile-navigation > a{
    display:block;
    width: 73px;
    height:78px;
    background:#e5e5e5 url(images/mobile_menu.png) no-repeat center center;
}

.mobile-navigation > a.active{
    background:#fff url(images/mobile_menu_hover.png) no-repeat center center;
}

.mobile-navigation > ul {
    background-color:#303030;
    padding:20px 10px;
    position:absolute;
    right:0;
    min-width:170px;
    display:none;
    z-index:100;
	/*opacity: 0.9;*/
}

.mobile-navigation ul li {
    border-bottom:1px solid #ccc;
    padding-bottom: 1px;
}

.mobile-navigation ul li:last-child{
    border:none;
}

.mobile-navigation ul li a{
    font-size:16px;
    line-height:30px;
    display:block;
    /*height:30px;*/
    text-decoration:none;
    color:#999;
}

.mobile-navigation ul li a:active{
	color:#999
}

.mobile-navigation ul li ul {
    padding:0 0 0 10%;
    min-width: inherit;
    width:90%;
    position:static;
}

.mobile-navigation ul li ul a {
    font-size:12px;
}


/*-----------------------------------------------------------------------------------*/
/*		Footer Styles & footer widgets
/*-----------------------------------------------------------------------------------*/

#footer
{
  background:#393939;
  color: white;
  position:relative;
  z-index:1;
  clear: both;
  border-top: 1px solid rgba(0,0,0, 0.1);
}

#top_button
{
	color: #fff;  /* added by cremona */
	background-image:url(images/top-button-arrow.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #009cff;
	width:66px;
	height:63px;
	float:right;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	text-decoration:none;
	line-height: 35px;  /* added by cremona to make the link text appear near bottom*/
	-moz-transition:all 300ms ease 0s;
	-o-transition:all 300ms ease 0s;
	-webkit-transition:all 300ms ease 0s;
	transition:all 300ms ease 0s;
}

#top_button:hover
{
  color: black;  /* added by cremona */
  background-color: #fff;
  background-image:url(images/top-button-arrow-hover.png);
}



#footer .widget_area
{
  margin-bottom:21px;
  padding-top:35px
}

#footer .widget_area h4
{
  margin-bottom:40px;
  font-weight: 700;
}

#footer .widget_area a
{
    color: rgba(255,255,255, 0.8);
}

#footer .widget_area a:hover
{
    color: white;
    text-decoration: underline;
}

.link-widget .separator
{
  background:#d7d7d7;
  height:1px;
  margin-bottom: 10px;
}

.widget_latest_works .item
{
  margin:10px 0
}

.widget_latest_works .item a
{
  text-decoration:none
}

.widget_latest_works .item img
{
  float:left;
  margin-right:12px
}

.widget_latest_works .item .title
{
  color:#434343;
  font-size:13px
}

.widget_latest_works .item .counter
{
  color: #434343;
  font-size:12px;
  font-weight: 400;
}

.widget_latest_works .arrows
{
  margin-top:20px;
}

.widget_latest_works .arrows .arrow_left
{
  background:transparent url(images/footer_arrow_left_norm.png);
  display:inline-block;
  height:22px;
  width:22px
}

.widget_latest_works .arrows .arrow_left:hover
{
  background:transparent url(images/footer_arrow_left_hover.png)
}

.widget_latest_works .arrows .arrow_right
{
  background:transparent url(images/footer_arrow_right_norm.png);
  display:inline-block;
  height:22px;
  width:22px
}

.widget_latest_works .arrows .arrow_right:hover
{
  background:transparent url(images/footer_arrow_right_hover.png)
}

#footer .link
{
  color:#fff;
  display:block;
  font-size:12px;
  margin-bottom: 15px
}

#footer .recent_news
{
  color:#434343;
  line-height: 22px;
}

.contact_info
{
	font-weight: 400;
}

#footer .contact_info .head
{
  color:#434343;
  font-size:14px
}

#footer .contact_info .info
{
  color:#434343;
  font-size:12px
}

#footer .foot
{
  background-color: #009cff;
  line-height: 63px;
}

#footer #footer-logo
{
	float:left;
    height: 50px; /* CAUTION: hardcode */
    margin: 0.75em 1.25em 0 0;
}

#footer .copyright
{
	color: #fff;
	font-weight: 400;
	float: left;
}


/*-----------------------------------------------------------------------------------*/
/*		Buttons
/*-----------------------------------------------------------------------------------*/

.button
{
	display:inline-block;
	margin-bottom: 20px;
	text-align:center;
	background-color: #bbb;
	color: #fff;
	transition: all 150ms ease-in 0s;
	-moz-transition: all 150ms ease-in 0s;
	-webkit-transition: all 150ms ease-in 0s;
	-o-transition: all 150ms ease-in 0s;
}

.small
{
	padding: 5px 15px; 
	font-size: 14px;
}

.medium
{
	padding: 8px 20px; 
	font-size: 16px;
}

.large
{
	padding: 10px 22px; 
	font-size: 18px;
}

.button:hover
{
  background-color: #009cff;
  color: #fff;
}

/*-----------------------------------------------------------------------------------*/
/*		Message Boxes
/*-----------------------------------------------------------------------------------*/

.messageBox
{
  margin-bottom:42px;
  overflow:hidden;
  position:relative
}

.messageBox1
{
  background:#009cff;
  color:#fff;
  min-height:124px;
  padding:21px 21px 55px 15px
}

.messageBox2
{
  background:#fff;
  color:#666;
  min-height:200px
}

.messageBox3
{
  background:#fff;
  min-height:200px
}

.messageBox3 .head
{
  color:#fff;
}

.messageBox2 .button,.messageBox1 .button
{
  background-color: #fff;
  color: #000;
  position: absolute;
  bottom: 0;
  left: 15px;
}

.messageBox2 .text,.messageBox3 .text
{
  margin:0;
  padding:21px
}

.messageBox1 .text,.messageBox2 .head,.messageBox3 .head
{
  
  font-size:27px;
  font-weight: 300;
}

.messageBox2 .head
{
  background:#545454;
  color:#fff;
  display:block;
  line-height:42px;
  padding-left:21px
}

.messageBox3 .head
{
  background:#00b4ff;
  display:block;
  line-height:42px;
  padding-left:21px
}

/*-----------------------------------------------------------------------------------*/
/*		Testimonial Boxes
/*-----------------------------------------------------------------------------------*/

.testimonial .content
{
	background-color:#eee;
	padding: 25px 20px 20px 25px;
	position: relative;
	margin-bottom: 25px;
	font-size: 12px;
	font-style: italic;
	color: #5f5f5f;
}

.testimonial .content .bottom
{
	background: transparent url(images/testimonial_bottom.png);
	width:24px;
	height:24px;
	position: absolute;
	bottom:-24px;
	left:0;
}

.testimonial .meta
{
	padding: 0 10px 0 25px;	
	text-align:center;
}

.testimonial .meta .name
{
	border-bottom: 1px solid #d0d0d0;
	text-transform: uppercase;
	color:#009CFF; /* Color */
	font-size:14px;
	font-weight: bold;
	line-height: 20px;
	padding-bottom: 2px;
	
}

.testimonial .meta .info
{
	color:#7c7c7c;
	font-size: 12px;
	text-transform: lowercase;
	letter-spacing: 4px;
}

/*-----------------------------------------------------------------------------------*/
/*		Separators
/*-----------------------------------------------------------------------------------*/

.separator
{
  background:#b0b0b0;
  height:1px
}

.separator1
{
  background: #cbcbcb;
  width: 100%;
  height:1px
}

.separator3
{
  background:transparent url(images/separator3.png) repeat-x;
  height:5px
}

.separator_title
{
  margin-bottom:8px;
  margin-top:13px;
  position:relative
}

.separator_title span
{
  background:#f6f6f6;
  color:#261f23;
  
  font-size:21px;
  padding-right:10px;
  position:absolute;
  top:-11px
}

/*-----------------------------------------------------------------------------------*/
/*		Lists
/*-----------------------------------------------------------------------------------*/

.plus_list,.arrow3_list,.arrow2_list,.arrow_list,.check_list,.disk_list
{
  font-size:14px;
}

.plus_list li,.arrow3_list li,.arrow2_list li,.arrow_list li,.check_list li,.disk_list li
{
  margin-bottom:5px
}

.plus_list li ul li,.arrow3_list li ul li,.arrow2_list li ul li,.arrow_list li ul li,.check_list li ul li,.disk_list li ul li
{
  color:#6b6b6b
}

.disk_list li
{
  background:transparent url(images/bullet1.png) no-repeat left 7px;
  padding-left:17px
}

.disk_list li ul li
{
  background-image:url(images/bullet1_sub1.png)
}

.check_list li
{
  background:transparent url(images/bullet5.png) no-repeat left 5px;
  padding-left:23px
}

.arrow_list li
{
  background:transparent url(images/bullet3.png) no-repeat left 5px;
  padding-left:17px
}

.arrow2_list li
{
  background:transparent url(images/bullet4.png) no-repeat 4px 6px;
  padding-left:21px
}

.arrow3_list li
{
  background:transparent url(images/bullet2.png) no-repeat left 7px;
  padding-left:17px
}

.arrow3_list li ul li
{
  background-image:url(images/bullet2_sub1.png)
}

.plus_list li
{
  background:transparent url(images/bullet6.png) no-repeat left 6px;
  padding-left:21px
}

.plus_list li ul li
{
  background-image:url(images/bullet6_sub1.png)
}

/*-----------------------------------------------------------------------------------*/
/*		Text Highlights
/*-----------------------------------------------------------------------------------*/

.highlight_black,.highlight_yellow,.highlight_green,.highlight_purple
{
  padding:2px 4px
}

.highlight_yellow
{
  background-color:#fc0;
  color:#474747
}

.highlight_green
{
  background-color:#ebd77c;
  color:#000
}

.highlight_black
{
  background-color:#000;
  color:#FFF
}

.highlight_purple
{
  background-color:#906;
  color:#FFF
}

/*-----------------------------------------------------------------------------------*/
/*		Dropcaps
/*-----------------------------------------------------------------------------------*/

.dropcap,.dropcap2,.dropcap3
{
  color:#000;
  float:left;
  text-align:center
}

.dropcap
{
  display:block;
  font-size:40px;
  line-height:42px;
  margin:0 8px 0 0
}

.dropcap2
{
  background:transparent url(images/dropcap1.png) no-repeat scroll left top;
  color:#FFF;
  display:block;
  font-size:29px;
  line-height:36px;
  margin:3px 8px 0 0;
  width:35px
}

.dropcap3
{
  background:transparent url(images/dropcap2.png) no-repeat scroll left top;
  color:#FFF;
  display:block;
  font-size:29px;
  line-height:35px;
  margin:3px 8px 0 0;
  width:34px
}

/*-----------------------------------------------------------------------------------*/
/*		Blockquotes & pullquotes
/*-----------------------------------------------------------------------------------*/

blockquote,.pullquote,.pullquote_right
{
  background:transparent url(images/quote_start.png) no-repeat scroll left top;
  color:#202020;
  
  font-size:18px;
  font-style:italic;
  padding:21px 35px;
  position:relative
}

blockquote
{
  margin-bottom:21px
}

blockquote p
{
  color:#202020;
  font-size:18px;
  margin-bottom:0
}

.pullquote .end,.pullquote_right .end,blockquote .end
{
  background:transparent url(images/quote_end.png) no-repeat scroll;
  bottom:0;
  height:22px;
  position:absolute;
  right:0;
  width:28px
}

.pullquote_right,.pullquote
{
  display:inline-block;
  margin:10px 0;
  width:31.11%
}

.pullquote
{
  float:left;
  margin-right:1.2%
}

.pullquote_right
{
  float:right;
  margin-left:1.2%
}

/*-----------------------------------------------------------------------------------*/
/*		Paginations
/*-----------------------------------------------------------------------------------*/

/* Pagination */

.post-pagination{
    margin:40px 0 20px;
}

.post-pagination span,
.post-pagination a{
    display: inline-block;
    padding: 3px;
    margin: 0 2px 2px 0;
    text-align: center;
    min-width: 34px;
    height:34px;
    line-height: 34px;
    background-color: #dfdfdf;
    color:#767676;
    font-family: 'Open Sans', sans-serif;
}

.post-pagination a{
    text-decoration: none;
}

.post-pagination a:hover,
.post-pagination .this-page
{
    background-color: #009cff;
    color:#FFF;
}

.post-pagination .prev-page-link,
.post-pagination .next-page-link
{
    text-indent: -10000px;
    background-image:url(images/pagination-next-prev.png);
}

.post-pagination .prev-page-link{
    background-position: 0 -40px;
}

.post-pagination .prev-page-link:hover{
    background-position: -40px -40px;
}

.post-pagination .next-page-link:hover{
    background-position: -40px 0;
}

/*-----------------------------------------------------------------------------------*/
/*		Accordions
/*-----------------------------------------------------------------------------------*/

.accordion
{
  padding-bottom:5px;
  background-color: #EEEEEE;
  margin-bottom: 3px;
}

.accordion .content_pad
{
  padding-left:22px;
  padding-right:30px;
}

.accordion_title
{
  color:#202020;
  display:block;
  float:left;
  font-size:14px;
  line-height:21px;
  margin-bottom:0
}

.accordion_title a
{
  /*color:#202020*/
}

.accordion_title a:hover
{
  text-decoration:none
}

.accordion .accordion_title span
{
  display:block;
  float:left;
  margin-right:7px
}

.accordion .accordion_content
{
  margin-top: 5px; 
  margin-bottom: 20px;
}

.accordion1 .accordion_header
{
  padding:10px 10px 9px
}

.accordion_header .media
{
  float:right
}

.accordion_header .media .media_icon
{
  float:left;
  margin-right:15px
}

.accordion_header .media .media_icon img
{
  margin-right:5px
}

.accordion_header .media .media_name,.accordion_header .media .media_count
{ 
  font-size:14px
}

.accordion_header .media .media_name
{
  color:#b1b1b1
}

.accordion_header .media .media_count
{
  color:#333
}

.accordion1 .accordion_title span,.accordion1 .accordion_closed
{
  height:23px;
  width:23px
}

.accordion1 .accordion_closed
{
  /*background:transparent url(images/toggle-plus.png) no-repeat scroll!important*/
  font-size: 30px;
  text-align: center;
}

.accordion1 .accordion_title span
{
  font-size: 30px;
  text-align: center;
}

.accordion2 .accordion_header
{
  padding:7px 0 6px
}

.accordion2 .accordion_title span,.accordion2 .accordion_closed
{
  height:29px;
  width:29px
}

.accordion2 .accordion_closed
{
  background:transparent url(images/accordion2_closed.png) no-repeat scroll!important
}

.accordion2 .accordion_title span
{
  background:transparent url(images/accordion2_open.png) no-repeat scroll
}

/*-----------------------------------------------------------------------------------*/
/*		Tabs
/*-----------------------------------------------------------------------------------*/

.tab_head li
{
  float:left
}

.tab_head a
{
  border-bottom:1px solid #009cff;
  color:#626262;
  display:block;
  font-size:16px
}

.tab_content
{
  padding: 20px 0 15px;
}

.tab_head a:hover
{
  text-decoration:none
}

.tab_head .selected .tab_end,.tab_head .selected .tab_text
{
  display:block;
  float:left
}

.tab1 .tab_head a
{
  line-height:40px;
  padding:0 18px
}

.tab1 .tab_last .selected .tab_end,.tab1 .tab_last .selected .tab_text
{
  background-image:url(images/tab1_selected_last.png)!important
}

.tab1 .tab_head .selected .tab_end,.tab1 .tab_head .selected .tab_text
{
  background:transparent url(images/tab1_selected.png) no-repeat left top;
  height:41px
}

.tab1 .tab_head .selected
{
  border:none;
  padding:0
}

.tab1 .tab_head .selected .tab_text
{
  color:#202020;
  line-height:41px;
  padding:0 9px 0 17px
}

.tab1 .tab_head .selected .tab_end
{
  background-position:right top;
  width:11px
}

.tab2 .tab_head a
{
  line-height:38px;
  padding:0 18px
}

.tab2 .tab_last .selected .tab_end,.tab2 .tab_last .selected .tab_text
{
  background-color: #009cff;/*background-image:url(images/tab2_selected_last.png)!important*/
}

.tab2 .tab_head .selected .tab_end,.tab2 .tab_head .selected .tab_text
{
  background-color: #009cff;/*transparent url(images/tab2_selected.png) no-repeat left top;*/
  height:39px
}

.tab2 .tab_head .selected
{
  border:none;
  padding:0
}

.tab2 .tab_head .selected .tab_text
{
  color:#FFFFFF;
  line-height:39px;
  padding:0 17px 0 16px
}

.tab2 .tab_head .selected .tab_end
{
  background-position:right top;
  width:5px
}

.tab3 .tab_head a
{
  line-height:41px;
  padding:0 18px
}

.tab3 .tab_head .selected .tab_end,.tab3 .tab_head .selected .tab_text
{
  background:transparent url(images/tab3_selected.png) no-repeat left top;
  height:42px
}

.tab3 .tab_head .selected
{
  border:none;
  padding:0
}

.tab3 .tab_head .selected .tab_text
{
  color:#202020;
  line-height:42px;
  padding:0 0 0 18px
}

.tab3 .tab_head .selected .tab_end
{
  background-position:right top;
  width:38px
}

/*-----------------------------------------------------------------------------------*/
/*		Home Navigation
/*-----------------------------------------------------------------------------------*/

#home-navigation
{
  color:#666;
  min-height:340px;
  position: relative;
}

#home-navigation .tab-head-background
{
	background-color: #393939;
	height: 52px; /* Initial height */
	width: 100%;
	position: absolute;
	top: 0;	
}

#home-navigation .wrapper
{
  position:relative;
  width:100%;
}

#home-navigation .tab_head
{
  display:table;
  table-layout:fixed;
  width:100%
}

#home-navigation .head_row
{
  display:table-row
}

#home-navigation .head_cell
{
  display:table-cell
}

#home-navigation .head_cell a
{
  border:0;
  background-color: #393939;
}

#home-navigation .tab .selected
{
  /*background: url(images/home_tab.png) no-repeat center bottom;
  padding:0 0 6px;
  outline: none;*/
}

#home-navigation .tab_head span
{
  color:#fff;
  display:block;
  font-size:18px;
  height:52px;
  line-height:52px;
  text-align:center;
  width:100%
}

#home-navigation .tab_head span:hover
{
  color:#009cff
}

#home-navigation .tab .selected span
{
  background-color:#009cff;	
  color:#fff
}

#home-navigation .tab .tab_text
{
  float:none;
  font-size:18px
}

#home-navigation .heading
{
  margin:20px 0 42px;
  text-align:center
}

#home-navigation .heading h3
{
  color:#585858;
  font-size:30px;
  margin:0
}

#home-navigation .heading p
{
  color:#7c7c7c;
  font-size:16px;
  margin:0
}

#home-navigation .steps_container
{
  overflow:hidden
}

#home-navigation .steps .circle
{
	display:block;
	height:80px;
	padding-top:50px;
	position:relative;
	width:130px;
	outline:none;
	text-decoration: none;
	margin: 0 auto 20px;
}

#home-navigation .steps .circle .outer-border
{
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	border: 3px solid #009cff;
	height:124px;
	width: 124px;
	position: absolute;
	top:0;
	left:0;
}

#home-navigation .steps .hover{
	transition: transform 150ms ease-in 0s;
	-moz-transition: -moz-transform 150ms ease-in 0s;
	-webkit-transition: -webkit-transform 150ms ease-in 0s;
	-o-transition: all 150ms ease-in 0s;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#009cff;
}

#home-navigation .steps .circle:hover .hover
{
  -moz-transform:scale(0.9);
  -ms-transform:scale(0.9);
  -o-transform:scale(0.9);
  -webkit-transform:scale(0.9);
  background-color:#009cff;
  transform:scale(0.9);
}


#home-navigation .steps .icon
{
  display:block;
  height:100%;
  position:absolute;
  top:0;
  width:100%;
  z-index:10
}

#home-navigation .steps .title
{
  color:#4c4c4c;
  display:block;
  font-size:24px;
  text-align:center;
  margin-bottom: 20px;
}

#home-navigation .steps .text
{
	text-align:center;
}

#home-navigation .steps .listen_icon .icon
{
  background:url(images/icon_listen.png) no-repeat center
}

#home-navigation .steps .share_icon .icon
{
  background:url(images/icon_share.png) no-repeat center
}

#home-navigation .steps .buy_icon .icon
{
  background:url(images/icon_buy.png) no-repeat center
}

#home-navigation .steps .download_icon .icon
{
  background:url(images/icon_download.png) no-repeat center
}

#home-navigation .steps .instagram_icon .icon
{
  background:url(images/icon-instagram.png) no-repeat center
}

#home-navigation .steps .comment_icon2 .icon
{
  background:url(images/icon-comment.png) no-repeat center
}

#home-navigation .steps .plus_icon .icon
{
  background:url(images/icon-plus.png) no-repeat center
}

#home-navigation .steps .camera_icon .icon
{
  background:url(images/icon-camera.png) no-repeat center
}

.tab_review .content .meta
{
  margin-bottom:21px
}

.tab_review h4
{
  margin-bottom:5px
}

.tab_review .white_tags
{
  display:inline-block;
  margin-right:15px
}

.tab_review .post_date
{
  float:right
}

.tab_review .post_date .day
{
  color:#b2b1b2;
  display:inline-block;
  float:left;
  font-size:36px;
  height:42px;
  line-height:42px;
  margin-right:5px
}

.tab_review .post_date .month
{
  color:#a6a6a6;
  display:inline-block;
  
  font-size:14px;
  height:42px;
  line-height:17px;
  padding-top:5px;
  width:35px
}

#home-navigation .round_image
{
  box-shadow:none
}

/*-----------------------------------------------------------------------------------*/
/*		Error Page Styles
/*-----------------------------------------------------------------------------------*/

.error
{
  color:#251f23;
  display:block;
  font-size:150px;
  padding:42px 0
}

.error .colored
{
  color:#009cff
}

.error_text
{
  color:#131313;
  display:block;
  font-size:18px;
  margin:42px 0
}

.list_head
{
  color:#131313;
  display:block;
  font-size:14px;
  margin-bottom:21px
}

/*-----------------------------------------------------------------------------------*/
/*		Blog
/*-----------------------------------------------------------------------------------*/

.blog1 .post_head
{
  float:left;
  color: #2c2c2c;
  font-weight: 400;
  font-size:32px;
  line-height:32px;
  margin-bottom:20px;
  max-width:530px;
  text-decoration:none
}

.blog1 .post_date
{
  float:right
}

.blog1 .post_date .day
{
  color:#515151;
  display:inline-block;
  float:left;
  font-size:36px;
  height:42px;
  line-height:42px;
  margin-right:5px
}

.blog1 .post_date .month
{
  color:#a6a6a6;
  display:inline-block;
  
  font-size:14px;
  height:42px;
  line-height:17px;
  padding-top:5px;
  width:35px;
  text-transform: uppercase;
}

.blog1 .post_image
{
  margin-bottom:27px;
  max-width:770px;
  position:relative
}

.blog1 .post_image img
{
  display:block
}

.blog1 .post_image .image_meta
{
  background:#261f23;
  color:#fff;
  font-size:18px;
  height:27px;
  left:0;
  line-height:27px;
  min-width:110px;
  position:absolute;
  text-align:center;
  top:25px;
  z-index:100
}

.blog1 .post_image .hover
{
  background:transparent url(images/white_bg_transparent60.png);
  display:none;
  left:0;
  height:100%;
  position:absolute;
  top:0;
  width:100%
}

.blog1 .post_meta
{
  margin-bottom:20px
}

.blog1 .author, .blog1 .tag2
{
  margin-right:42px
}

.blog1 .content
{
	font-size: 14px;
	font-weight: 300;
	color: #5c5c5c;
	line-height: 22px;
	margin-bottom: 20px;
}

.blog1 .separator
{
  margin:15px 0 30px;
}

.blog1 .pagination_container
{
  margin-bottom:21px
}

.blog1 .share
{
  margin-right:30px
}

.blog1 .separator_title
{
  margin-bottom:32px;
  margin-top:42px
}

.comment_list .comment
{
  border-bottom:1px solid #dcdcdc;
  margin-bottom:21px;
}

.comment_list .comment-date
{
	font-size: 11px;
	color: #adadad;
}

.comment_list .comment_image
{
  display:block;
  float:left;
  height:80px;
  padding-right:18px;
  position:relative;
  width:80px
}

.comment_list .comment_image img
{
  display:block;
  position:absolute
}

.comment_list .comment .meta
{
  float:left;
  margin-bottom:15px;
  padding-right:17px
}

.comment_list .comment .meta .says,.comment_list .comment .meta cite
{
  color:#262626;
  
  font-size:14px;
  font-style:normal;
  font-weight:300
}

.comment_list .comment .meta .date
{
  color:#696969;
  display:block;
  
  font-size:12px;
  font-weight:300;
  margin-bottom:20px
}

.comment_list .comment .meta .comment-reply-login,.comment_list .comment .meta .comment-reply-link
{
  display:block;
  font-size:12px;
  font-weight:300;
  text-decoration:none
}

.comment_list li ul
{
  margin-left:30px
}

#blog_detail_comment h2
{
  margin-bottom:10px
}

#blog_detail_comment .post_title
{
  color:#262626;
  text-decoration:none
}

#blog_detail_comment .separator
{
  background-color:#A8A8A8;
  height:5px;
  margin-bottom:20px;
  width:245px
}

/*-----------------------------------------------------------------------------------*/
/*		Respond & Contact form
/*-----------------------------------------------------------------------------------*/

#respond_wrap
{
  margin-bottom:21px
}

#respond .cancel-comment-reply
{
  margin-bottom:20px
}

#respond #cancel-comment-reply-link
{
  font-size:13px;
  
  font-weight:300;
  text-decoration:none
}

#respond_wrap h4
{
  margin-bottom:10px
}

#commentform
{
  margin-bottom:20px
}

#commentform .submit_wrap
{
  float:left
}

#commentform .text_input
{
  background:#eee;
  height:38px;
  margin-bottom:10px;
  padding:0 1%;
  width:40%
}

#commentform .text_input input[type="text"]
{
  background-color:transparent;
  border:0;
  color:#a8a8a8;
  height:38px;
  line-height:30px;
  padding:0;
  width:100%
}

#commentform .textarea_input
{
  background:#eee;
  margin-bottom:10px;
  max-width:100%;
  padding:6px 1%;
  width:80%
}

#commentform .textarea_input textarea
{
  background-color:transparent;
  border:0;
  color:#a8a8a8;
  max-width:100%;
  width:100%
}

#commentform .form_errors
{
  border:0;
  float:left
}

#commentform .form_errors li
{
  background:transparent url(images/form_error.png) no-repeat left center;
  padding-left:21px
}

#commentform .button #submit 
{
  background: transparent;
  border: none;
  color:#fff;
}

#comment_form .loader
{
  background:url(assets/img/Loading24_white.gif) no-repeat;
  height:24px;
  margin-top:15px;
  width:24px
}

#comment_form .AjaxError,#comment_form .AjaxSuccess
{
  font-size:14px;
  margin-top:15px
}

#comment_form .AjaxError
{
  color:#A9A9A9
}

#comment_form .AjaxSuccess
{
  color:#fff
}

/*-----------------------------------------------------------------------------------*/
/*		Tables
/*-----------------------------------------------------------------------------------*/

.price_table
{
  width:100%
}

.price_table .tcol
{
  float:left;
  width:156.66px;
  margin-bottom: 21px;
}

.price_table .tcol h3
{
  margin-bottom:18px
}

.price_table .table_head
{
  background:#6c686a;
  border-left:1px solid #6D6B6C;
  border-right:1px solid #625F60;
  height:104px
}

.price_table .table_head p
{
  color:#FFF;
  
  font-size:25px;
  font-weight:700;
  text-align:center
}

.price_table .first_col .table_head
{
  border-radius:10px 0 0 0
}

.price_table .first_col .table_head h3
{
  border-radius:10px 0 0 0
}

.price_table .first_col .table_foot
{
  border-radius:0 0 0 10px
}

.price_table .last_col .table_head
{
  border-radius:0 10px 0 0
}

.price_table .last_col .table_head h3
{
  border-radius:0 10px 0 0
}

.price_table .last_col .table_foot
{
  border-radius:0 0 10px 0
}

.price_table .featured
{
  border-radius:0 0 10px 10px;
  box-shadow:0 0 20px rgba(0,0,0,0.15);
  position:relative;
  z-index:1
}

.price_table .featured .table_head
{
  background:#97055a;
  border-radius:10px 10px 0 0;
  padding-bottom:15px
}

.price_table .featured .table_head h3
{
  background:#5a0e3c;
  border-radius:10px 10px 0 0;
  margin-top:-15px;
  padding-top:15px
}

.price_table .featured .table_foot
{
  border-radius:0 0 10px 10px;
  padding-bottom:25px
}

.price_table .table_head .price
{
  color:#FFF;
  
  font-size:42px;
  font-weight:700;
  line-height:21px;
  margin:0
}

.price_table .table_head .unit
{
  font-size:28px
}

.price_table .table_head .rate
{
  color:#FFF;
  font-size:10px;
  line-height:21px;
  margin:2px 0 0
}

.price_table li
{
  border:1px solid #D0D0D0;
  color:#2A3445;
  padding:10px;
  text-align:center
}

.price_table .first_col li
{
  text-align:left
}

.price_table li.odd
{
  background-color:#E1E2E3
}

.price_table li.even
{
  background-color:#FFF
}

.price_table .table_foot
{
  border:1px solid #D0D0D0;
  height:32px;
  padding:11px;
  text-align:center
}

.price_table .table_head h3
{
  background:#434244;
  color:#fff;
  font-size:12px;
  height:30px;
  line-height:30px;
  text-align:center
}

.price_table .button1
{
  background:#2f292d;
  font-size:12px
}

.price_table .button1:hover
{
  background:#4f474c!important
}

.table_black1
{
  width:100%
}

.table_black1 thead .column0
{
  text-align:left
}

.table_black1 thead tr
{
  border-left:1px solid #d0d0d0;
  border-right:1px solid #d0d0d0;
  height:48px
}

.table_black1 thead th
{
  background:transparent url(images/table2_head.png) repeat-x;
  color:#fff;
  padding:0 21px;
  text-align:center;
  font-size:12px;
  font-weight:700;
  line-height:48px;
}


.table_black1 tfoot th,.table_black1 tbody th,.table_black1 tbody td
{
  border:1px solid #e4e4e4;
  color:#555;
  padding:10px 21px
}

.table_black1 tbody td
{
  color:#333;
  text-align:center
}

.table_black1 tbody tr:hover
{
  background-color:#ededed
}

.table_black1 tbody th
{
  
  font-weight:700;
  text-align:left
}

.table_black1 .empty
{
  background:none!important;
  border:none!important
}

.table_black1 tbody tr.odd
{
  background:#f2f2f2
}

.table_black1 tbody tr.even
{
  background:#f7f7f7;
  border-top:solid 1px #fefefe
}

.table_black2
{
  width:100%
}

.table_black2 thead .column0
{
  text-align:left
}

.table_black2 thead tr
{
  border-left:1px solid #d0d0d0;
  border-right:1px solid #d0d0d0;
  height:48px
}

.table_black2 thead th
{
  background:transparent url(images/table3_head.png) repeat-x;
  color:#FFF;
  padding:0 21px;
  text-align:center;
  font-size:12px;
  font-weight:700;
  line-height:48px;  
}

.table_black2 tfoot th,.table_black2 tbody th,.table_black2 tbody td
{
  border:1px solid #e0e0e0;
  border-top:1px solid #fff;
  color:#555;
  padding:10px 21px
}

.table_black2 tbody th
{
  
  font-weight:700;
  text-align:left
}

.table_black2 tbody td
{
  text-align:center
}

.table_black2 tfoot tr.odd th,.table_black2 tbody tr.odd
{
  background:#f2f2f2
}

.table_black2 tfoot tr.even th,.table_black2 tbody tr.even
{
  background:#e7e7e7 url(images/table3_highlight.png) repeat-x left top
}

.table_black2 .empty
{
  background:none!important;
  border:none!important
}

/*-----------------------------------------------------------------------------------*/
/*		Sidebars & widgets
/*-----------------------------------------------------------------------------------*/

.sidebar
{
  margin-top:-42px;
  max-width:350px;
}

.sidebar .pagination_container
{
  background:transparent url(images/lsidebar_end.png) right top no-repeat;
  height:142px;
  padding-top:21px;
  position:relative;
  margin: 0 auto;
  max-width:100%;
  width:280px
}

.widget
{
	margin-bottom: 40px;
}

.widget-text .button
{
	margin-bottom: 0;
}

.sidebar_pad
{
  margin-left:15px
}

.right_sidebar
{
  padding:42px 0 0 20px;
}

.right_sidebar_after
{
  bottom:-142px;
  content:" ";
  display:block;
  height:142px;
  left:0;
  position:absolute;
  width:280px
}

.right_sidebar .arrow2_list a
{
  color:#666;
  text-decoration:none
}

.right_sidebar .arrow2_list li
{
  font-size:12px
}

.right_sidebar .arrow2_list li:hover a
{
  color:#009cff;
}

.right_sidebar .arrow2_list li:hover
{
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  width:80%; 
}

.right_sidebar .widget-title
{
  color:#009cff;
  display:block;
  font-size:18px;
  font-weight: 400;
  margin-bottom: 20px;
}

.flickr_badge_image .hover_image
{
  left:4px;
  position:absolute;
  top:4px
}

.flickr_container .flickr_badge_image
{
  float:left;
  height:75px;
  margin:0 0 5px 5px;
  padding:4px;
  position:relative;
  width:75px
}

.flickr_container
{
  margin-left:-5px
}

.sidebar_flickr
{
  margin:21px 0
}

.latest_works
{
  margin-bottom:21px
}

.latest_works img
{
  float:left;
  margin-right:10px
}

.latest_works a
{
  text-decoration:none
}

.latest_works span
{
  color:#a9a9a9;
  font-style:italic
}

.portfolio_sidebar .pagination
{
  margin:0 auto
}

.portfolio_sidebar li:first-child
{
  background:transparent url(images/portfolio_sidebar_column.png) right repeat-y;
  height:32px
}

.portfolio_sidebar li:first-child div
{
  background:none
}

.portfolio_sidebar li
{
  background:transparent url(images/separator.png) repeat-x left bottom;
  height:59px
}

.portfolio_sidebar div
{
  background:transparent url(images/portfolio_sidebar_column.png) right repeat-y;
  height:47px;
  padding:10px 0 0 21px
}

.portfolio_sidebar .title
{
  color:#202020
}

.portfolio_sidebar a.title:hover
{
  text-decoration:none
}

.portfolio_sidebar .date
{
  color:#7e7e7e;
  display:block;
  margin-top:-2px
}

.portfolio_sidebar li:hover div
{
  background-image:none
}

.portfolio_sidebar li.current div
{
  background:transparent url(images/arrow1_right.png) no-repeat 21px 16px;
  padding-left:33px
}

#newsletter_form
{
  margin:0 0 21px 15px
}

#newsletter_form .text_input,#newsletter_form .newsletter
{
  background:#d7d7d7;
  border-bottom:1px solid #f6f6f6;
  border-left:1px solid #b7b7b7;
  border-right:1px solid #b4b3b3;
  border-top:1px solid #909090;
  height:32px;
  margin-bottom:21px;
  width:90%
}

#newsletter_form .newsletter,#newsletter_form .text_input input[type="text"]
{
  border:0;
  box-shadow:1px 1px 1px 0 #b1b1b1 inset;
  color:#989898;
  height:31px;
  line-height:31px;
  padding:0 6px;
  width:93%
}

#newsletter_form .text_input input[type="text"]
{
  background-color:transparent
}

#newsletter_form .newsletter
{
  border-bottom:1px solid #f6f6f6;
  border-left:1px solid #b7b7b7;
  border-right:1px solid #b4b3b3;
  border-top:1px solid #909090;
  font-size:14px;
  margin-bottom:21px;
  padding:5px;
  width:90%
}

.text-widget
{
	font-weight: 400;
}

.text-widget .title
{
	font-size: 22px;
	color: #535353;
	margin-bottom: 35px;
}

.text-widget .content
{
	color:#8a8a8a;
	font-size: 14px;
}

.portfolio .portfolio_image h2
{
  margin-bottom: 32px;
}

.portfolio .portfolio_image .separator
{
  margin-bottom:20px;
}

.portfolio .portfolio_image p
{
  margin-top:55px
}

.portfolio .portfolio-content
{
  margin-top: 55px;
}

.portfolio .portfolio-content h2
{
  margin-bottom: 20px;
}

.portfolio .navigator
{
  display:block;
  float:left;
  margin-bottom:20px;
  margin-right: 20px;
}

.portfolio .navigator .icon
{
  -moz-transition:all 300ms ease 0s;
  -o-transition:all 300ms ease 0s;
  -webkit-transition:all 300ms ease 0s;
  display:block;
  float:right;
  height:42px;
  margin-left:2px;
  transition:all 300ms ease 0s;
  width:42px
}

.portfolio .navigator .previous
{
  background:url(images/arrow_portfolio_detail_prev.png) no-repeat center center scroll transparent;
  background-color:#eee
}

.portfolio .navigator .next
{
  background:url(images/arrow_portfolio_detail_next.png) no-repeat center center scroll transparent;
  background-color:#eee
}

.portfolio .navigator .return_back
{
  background:url(assets/img/icon_standard.png) no-repeat center center scroll transparent;
  background-color:#a8a8a8
}

.portfolio .navigator .previous:hover
{
  background:url(images/arrow_portfolio_detail_prev_hover.png) no-repeat center center scroll transparent;
  background-color:#009cff;
  cursor:pointer
}

.portfolio .navigator .next:hover
{
  background:url(images/arrow_portfolio_detail_next_hover.png) no-repeat center center scroll transparent;
  background-color:#009cff;
  cursor:pointer
}

.portfolio .nav-text
{
	float: left;
	font-size: 15px;
	line-height: 42px;
	color: #aaa;
}

.related_project
{
  margin-bottom:10px
}

.related_project .heading
{
  font-size: 20px;
  margin-bottom:15px
}

.related_project .title .separator
{
  height:5px;
  margin-bottom:20px;
  width:245px
}

.single-portfolio .jcarousel-container
{
  margin-bottom:0
}

.related_project .item
{
  display:block;
  max-width:270px;
  overflow:hidden;
  position:relative
}

.related_project .item img
{
  display:block
}

/*-----------------------------------------------------------------------------------*/
/*		Galleries
/*-----------------------------------------------------------------------------------*/

.gallery1
{
  margin-left:-20px
}

.gallery1 .item
{
  float:left;
  margin-bottom:42px;
  margin-left:20px;
  width:270px
}

.gallery1 .item_image_wrap
{
  /*height:187px;*/
  margin-bottom:21px;
  position:relative;
  width:270px
}

.gallery1 .item_image
{
  display:block;
  /*height:187px;*/
  overflow:hidden;
  position:relative;
  width:270px
}

.gallery1 h4 a
{
  -moz-transition:all 300ms cubic-bezier(0.215,0.61,0.355,1) 0;
  -o-transition:all 300ms cubic-bezier(0.215,0.61,0.355,1) 0;
  -webkit-transition:all 300ms cubic-bezier(0.215,0.61,0.355,1) 0;
  color:#b8066e;
  transition:all 300ms cubic-bezier(0.215,0.61,0.355,1) 0
}

.gallery1 h4 a:hover
{
  color:#ea59ae
}

.gallery1 .item .frame_hover
{
  bottom:3px;
  display:none;
  height:70px;
  left:3px;
  position:absolute;
  width:70px
}

.gallery2 .item
{
  width:370px;
  max-width:100%;
}

.gallery2 .item .item_image
{
  display:block;
  overflow:hidden;
  position:relative
}

.gallery2 .item .frame_hover
{
  background:transparent url(images/portfolio_hover_camera.png) no-repeat center center;
  bottom:3px;
  display:none;
  height:70px;
  left:3px;
  position:absolute;
  width:70px
}

.gallery2 .item h4
{
  margin-bottom:5px
}

.gallery2 .item h4 a
{
  -moz-transition:all 300ms cubic-bezier(0.215,0.61,0.355,1) 0;
  -o-transition:all 300ms cubic-bezier(0.215,0.61,0.355,1) 0;
  -webkit-transition:all 300ms cubic-bezier(0.215,0.61,0.355,1) 0;
  color:#C09;
  transition:all 300ms cubic-bezier(0.215,0.61,0.355,1) 0
}

.gallery2 h4 a:hover
{
  color:#ea59ae
}

.portfolio .separator1
{
	max-width:1140px;
}

/*-----------------------------------------------------------------------------------*/
/*		Contact Page
/*-----------------------------------------------------------------------------------*/

.contact_map
{
  height:350px;
  width:100%;
  max-width:100%
}

.contact_map img
{
  max-width: none;
}

/*-----------------------------------------------------------------------------------*/
/*		Item Boxes
/*-----------------------------------------------------------------------------------*/

.item_box
{
	background-color: #f0f0f0;
	border-bottom: 2px solid #dcdcdc;
	-moz-transition:all 300ms ease 0s;
	-o-transition:all 300ms ease 0s;
	-webkit-transition:all 300ms ease 0s;
	transition:all 300ms ease 0s;
    margin-bottom: 2em;
}

.item_box .item_image
{
	position: relative;
}

.item_box .item_image img
{
	display: block;
	width:100%;
}

.item_box .item_image .frame_overlay
{
	background: rgba(0,156,255,0.7);
  color: white;
  line-height: 150px;
	width:100%;
	height:100%;
	position: absolute;
	left:0;
	top:0;
	-khtml-opacity:0.00;
	-moz-opacity:0.00;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0);
	opacity:0.00;
	-moz-transition:all 300ms ease 0s;
	-o-transition:all 300ms ease 0s;
	-webkit-transition:all 300ms ease 0s;
	transition:all 300ms ease 0s;
}

.item_box .item_image .hover_icon
{
	background: transparent url(images/hover_icon.png) center no-repeat;
	height:62px;
	width:62px;
	display:block;
	position: absolute;
	top: 35%;
	left:50%;
	margin-top: -31px;
	margin-left: -31px;
	-khtml-opacity:0.00;
	-moz-opacity:0.00;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0);
	opacity:0.00;
	-moz-transition:all 1000ms ease-in-out 0s;
	-o-transition:all 1000ms ease-in-out 0s;
	-webkit-transition:all 1000ms ease-in-out 0s;
	transition:all 500ms ease-in-out 0s;
}

.item_box .item_image .frame_overlay_with_icon
{
  background: rgba(0,156,255,0.7) url(images/hover_icon.png) center no-repeat;
  color: white;
  width:100%;
  height:100%;
  position: absolute;
  left:0;
  top:0;
  -khtml-opacity:0.00;
  -moz-opacity:0.00;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter:alpha(opacity=0);
  opacity:0.00;
  -moz-transition:all 300ms ease 0s;
  -o-transition:all 300ms ease 0s;
  -webkit-transition:all 300ms ease 0s;
  transition:all 300ms ease 0s;
}


.item_box .content
{
	padding: 15px;
	display: block;
}


.item_box .content .title
{
	line-height: 18px;
	font-weight: 400;
	color: #666;
	font-size: 17px;
}

.item_box .content .text
{
	margin-bottom: 0;
}

.item_box:hover
{
	background-color: #009cff;
	border-bottom: 2px solid #009cff;
}

.item_box:hover .item_image .hover_icon
{
	top:50%;
	-khtml-opacity:1.00;
	-moz-opacity:1.00;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	opacity:1.00;
}

.item_box:hover .title
{
	color:#fff;
}

.item_box:hover .text
{
	color:#ababab;
}

.item_box:hover .frame_overlay
{
	-khtml-opacity:1.00;
	-moz-opacity:1.00;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	opacity:1.00;
}

/*-----------------------------------------------------------------------------------*/
/*		Taglines
/*-----------------------------------------------------------------------------------*/

.tagline
{
  padding:25px;
  background-color: #009cff;
}

.tagline .content
{
	max-width: 650px;
	width: 100%;
	float: left;		
}

.tagline .title
{
  color:#fff;
  font-size:29px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 10px;
  max-width:100%;
}

.tagline .subtitle
{
  color:#fff;
  font-size:19px;
  font-weight: 400;
  max-width:100%;
}

.tagline .button
{
  float:right;
  margin: 10px 15px 0 0;
  background-color: #323232;
}

.tagline .button:hover
{
  background-color: rgba(50,50,50,0.7)
}

/*-----------------------------------------------------------------------------------*/
/*		Portfolio Pages Styles
/*-----------------------------------------------------------------------------------*/

.portfolio_single
{
  margin-top: -10px;
}

/*-----------------------------------------------------------------------------------*/
/*		Other/Custom Styles
/*-----------------------------------------------------------------------------------*/

.share
{
  background:transparent url(images/share_icon.png) left center no-repeat;
  color:#666;
  font-size:14px;
  padding-left:22px;
  text-decoration:none!important
}

.like
{
  background:transparent url(images/icon_heart.png) left center no-repeat;
  color:#666;
  font-size:14px;
  padding-left:24px;
  text-decoration:none
}

.tag
{
  background:transparent url(images/folder_black.png) left center no-repeat;
  color:#666;
  display:inline-block;
  font-size:14px;
  padding-left:20px
}

.tag2
{
  color:#666;
  display:inline-block;
  font-size:12px;
  background: url("images/icon_tag.png") no-repeat scroll left center transparent;
  padding-left: 26px;
}

.author
{
  background:transparent url(images/icon_author.png) left center no-repeat;
  color:#666;
  display:inline-block;
  font-size:12px;
  padding-left:22px
}

.comment_icon
{
  background:transparent url(images/icon_comment.png) left 4px no-repeat;
  color:#666;
  display:inline-block;
  font-size:12px;
  padding-left:23px
}

.blog_category li
{
  background:transparent url(images/separator.png) repeat-x left bottom
}

.blog_category a
{
  color:#666;
  display:block;
  padding:11px 0 10px
}

.blog_category a:hover
{
  text-decoration:none
}

.blog_category .current a,.blog_category .hover a
{
  background:transparent url(images/arrow1_right.png) no-repeat 10px center
}

.blog_category .current a
{
  color:#a00560;
  padding-left:21px
}

/*-----------------------------------------------------------------------------------*/
/*		Blog Detail Styles
/*-----------------------------------------------------------------------------------*/

.rightside_content
{
  float:right;
}

.latest_blogs li:first-child div
{
  padding-top:0
}

.latest_blogs li
{
  padding-right:30px
}

.latest_blogs div
{
  background:transparent url(images/separator.png) repeat-x left bottom;
  padding-top:20px;
  padding-bottom:20px;
}

.latest_blogs li:last-child div
{
	background: none;
}

.latest_blogs .title
{
  color:#7e7e7e;
  /*font-family:Muli, sans-serif;*/
  font-size:16px
}

.latest_blogs a.title:hover
{
  text-decoration:none
}

.latest_blogs .date
{
  -moz-transition:background 500ms;
  -o-transition:background 500ms;
  -webkit-transition:background 500ms;
  background:#fff;
  border: 2px solid #b7b7b7;
  color:#b7b7b7;
  display:block;
  float:left;
  font-size:14px;
  height:60px;
  margin:0 20px 0 5px;
  padding:10px 0;
  text-align:center;
  transition:background 500ms;
  width:70px
}

.latest_blogs .date .day
{
  display:block;
  font-size:36px;
  height:25px;
  text-align:center;
  width:70px
}

.latest_blogs li:hover .date
{
  background:#009cff;
  color: #fff;
  border: 2px solid #009cff;
}

.latest_blogs li.current .date
{
  background:#009cff
}

.latest_blogs li.current .title
{
  color:#b2066b
}

.latest_blogs p
{
  margin-bottom:0
}

/*-----------------------------------------------------------------------------------*/
/*		Social Icons
/*-----------------------------------------------------------------------------------*/

.social_icons
{
  margin-bottom:15px
}

.social_icons li
{
  margin-right:4px;
  float:left
}

.social_icons a
{
  -moz-transition:all 300ms ease 0s;
  -o-transition:all 300ms ease 0s;
  -webkit-transition:all 300ms ease 0s;
  background-repeat:no-repeat;
  display:block;
  float:left;
  height:33px;
  margin-right:4px;
  text-indent:-9999999px;
  transition:all 300ms ease 0s;
  width:33px
}

.social_icons li a{
    margin-right:0;
}

.social_icons a:hover
{
  background-position:-33px 0
}

.social_icons a.twitter,.social_icons .twitter a
{
  background-image:url(images/socials/twitter.png)
}

.social_icons a.twitter:hover,.social_icons .twitter a:hover
{
  background-color:#00c0ff
}

.social_icons .dribbble a,.social_icons a.dribbble
{
  background-image:url(images/socials/dribbble.png)
}

.social_icons .dribbble a:hover,.social_icons a.dribbble:hover
{
  background-color:#ff4393
}

.social_icons .vimeo a,.social_icons a.vimeo
{
  background-image:url(images/socials/vimeo.png)
}

.social_icons .vimeo a:hover,.social_icons a.vimeo:hover
{
  background-color:#00c0ff
}

.social_icons .youtube a,.social_icons a.youtube
{
  background-image:url(images/socials/youtube.png)
}

.social_icons .youtube a:hover,.social_icons a.youtube:hover
{
  background-color:#d90000
}

.social_icons .facebook a,.social_icons a.facebook
{
  background-image:url(images/socials/facebook.png)
}

.social_icons .facebook a:hover,.social_icons a.facebook:hover
{
  background-color:#36457c
}

.social_icons .google a,.social_icons a.google
{
  background-image:url(images/socials/googleplus.png)
}

.social_icons .google a:hover,.social_icons a.google:hover
{
  background-color:#d93f2f
}

.social_icons a.digg,.social_icons .digg a
{
  background-image:url(images/socials/digg.png)
}

.social_icons a.digg:hover,.social_icons .digg a:hover
{
  background-color:#e2ae8c
}

.social_icons a.tumblr,.social_icons .tumblr a
{
  background-image:url(images/socials/tumblr.png)
}

.social_icons .tumblr a:hover,.social_icons a.tumblr:hover
{
  background-color:#293147
}

.social_icons a.linkedin,.social_icons .linkedin a
{
  background-image:url(images/socials/linkedin.png)
}

.social_icons a.linkedin:hover,.social_icons .linkedin a:hover
{
  background-color:#316e99
}

.social_icons .forrst a,.social_icons a.forrst
{
  background-image:url(images/socials/forrst.png)
}

.social_icons .forrst a:hover,.social_icons a.forrst:hover
{
  background-color:#435622
}

.social_icons .rss a,.social_icons a.rss
{
  background-image:url(images/socials/rss.png)
}

.social_icons .rss a:hover,.social_icons a.rss:hover
{
  background-color:#cc5403
}

.social_icons .lastfm a,.social_icons a.lastfm
{
  background-image:url(images/socials/lastfm.png)
}

.social_icons .lastfm a:hover,.social_icons a.lastfm:hover
{
  background-color:#cc0d03
}

.social_icons .flickr a,.social_icons a.flickr
{
  background-image:url(images/socials/flickr.png)
}

.social_icons .flickr a:hover,.social_icons a.flickr:hover
{
  background-color:#cdcdcd
}

.social_icons .myspace a,.social_icons a.myspace
{
  background-image:url(images/socials/myspace.png)
}

.social_icons .myspace a:hover,.social_icons a.myspace:hover
{
  background-color:#070707
}

/***** New *****/

.social_icons .behance a,.social_icons a.behance
{
  background-image:url(images/socials/behance.png)
}

.social_icons .behance a:hover,.social_icons a.behance:hover
{
  background-color:#000
}

.social_icons .deviantart a,.social_icons a.deviantart
{
  background-image:url(images/socials/deviantart.png)
}

.social_icons .deviantart a:hover,.social_icons a.deviantart:hover
{
  background-color:#3e462d
}

.social_icons .dropbox a,.social_icons a.dropbox
{
  background-image:url(images/socials/dropbox.png)
}

.social_icons .dropbox a:hover,.social_icons a.dropbox:hover
{
  background-color:#2fa4ff
}

.social_icons .evernote a,.social_icons a.evernote
{
  background-image:url(images/socials/evernote.png)
}

.social_icons .evernote a:hover,.social_icons a.evernote:hover
{
  background-color:#90c500
}

.social_icons .github a,.social_icons a.github
{
  background-image:url(images/socials/github.png)
}

.social_icons .github a:hover,.social_icons a.github:hover
{
  background-color:#1e1e1e
}

.social_icons .instagram a,.social_icons a.instagram
{
  background-image:url(images/socials/instagram.png)
}

.social_icons .instagram a:hover,.social_icons a.instagram:hover
{
  background-color:#b28c56
}

.social_icons .picassa a,.social_icons a.picassa
{
  background-image:url(images/socials/picassa.png)
}

.social_icons .picassa a:hover,.social_icons a.picassa:hover
{
  background-color:#754a43
}

.social_icons .pintrest a,.social_icons a.pintrest
{
  background-image:url(images/socials/pintrest.png)
}

.social_icons .pintrest a:hover,.social_icons a.pintrest:hover
{
  background-color:#ba0000
}

.social_icons .reddit a,.social_icons a.reddit
{
  background-image:url(images/socials/reddit.png)
}

.social_icons .reddit a:hover,.social_icons a.reddit:hover
{
  background-color:#9ebcbf
}

.social_icons .skype a,.social_icons a.skype
{
  background-image:url(images/socials/skype.png)
}

.social_icons .skype a:hover,.social_icons a.skype:hover
{
  background-color:#2fa4ff
}

.social_icons .soundcloud a,.social_icons a.soundcloud
{
  background-image:url(images/socials/soundcloud.png)
}

.social_icons .soundcloud a:hover,.social_icons a.soundcloud:hover
{
  background-color:#ff6000
}

.social_icons .xing a,.social_icons a.xing
{
  background-image:url(images/socials/xing.png)
}

.social_icons .xing a:hover,.social_icons a.xing:hover
{
  background-color:#7ba32f
}

.social_icons .yahoo a,.social_icons a.yahoo
{
  background-image:url(images/socials/yahoo.png)
}

.social_icons .yahoo a:hover,.social_icons a.yahoo:hover
{
  background-color:#541e6d
}


/*-----------------------------------------------------------------------------------*/
/*		Special Intro
/*-----------------------------------------------------------------------------------*/

.special_intro{
    margin-bottom:20px;
	margin-top: 45px;
}

.special_intro .titles
{
  margin-bottom:18px;
  padding-right:8px;
  position:relative
}

.special_intro .titles li
{
  border-bottom:#e6e6e6 solid 1px;
  margin-left:10px;
  position:relative
}

.special_intro .titles li .circle
{
  
  color:#ECECEC;
  display:block;
  float:right;
  font-family:'Open Sans',sans-serif;
  font-size:19px;
  font-weight:500;
  height:28px;
  line-height:25px;
  margin-right:30px;
  text-align:center;
  width:27px
}

.special_intro .titles li a
{
  color:#e2e2e2;
  display:block;
  font-family:'Open Sans', sans-serif;
  font-size:24px;
  font-weight:300;
  line-height:25px;
  padding-bottom:10px;
  padding-top:10px;
  padding-left: 10px;
}

.special_intro .titles li:last-child
{
  border-bottom:none
}

.special_intro .titles li:hover
{
  color:#262626;
  cursor:pointer
}

.special_intro .titles a.selected, .special_intro .titles li:hover a 
{ 
	color: #afafaf;
	-moz-outline: 0;
	outline: 0;
	text-decoration: none;
}

.special_intro .titles a.selected
{
	background-color: #f5f5f5!important;
	font-weight: 400;
}

.special_intro .titles li:hover a
{
	background-color: #f8f8f8;
}

.special_intro .head,.our_team .head
{
  color:#333;
  display:block;
  font-size:48px;
  line-height:60px;
  margin-bottom:20px;
  text-transform:capitalize
}

.special_intro .span8,.special_intro .span8 .description
{
  height:195px;
  overflow-y:auto
}

.special_intro .span8
{
  overflow:hidden
}

.special_intro .description .image
{
  margin:0 10px 10px 0
}

.special_intro .span8 h1
{
  line-height:35px;
  margin-bottom:35px;
  margin-top:5px
}

.special_intro .line
{
  /*background:url(images/hover_li_arrow.png) no-repeat transparent;*/
  background-position:0 18px;
  border-left:2px solid #dfdfdf;
  height:100%;
  position:absolute;
  right:0;
  top:0;
  width:6px
}

.special_intro .heading
{
  display:block;
  font-size:30px;
  line-height:30px;
  margin-bottom:20px;
  font-weight: 300;
  text-transform:capitalize;
  color: #009cff;
}

/*-----------------------------------------------------------------------------------*/
/*		Slogan
/*-----------------------------------------------------------------------------------*/

.slogan
{
  color:#666;
  font-size:48px;
  font-weight:300;
  line-height:67px;
  padding:30px 16%;
  text-align:center;
  text-transform:uppercase
}

.quote_slogan_start
{
  background:url(images/quote_sepecial_start.png) transparent no-repeat;
  display:inline-block;
  height:33px;
  width:27px
}

.quote_slogan_end
{
  background:url(images/quote_sepecial_end.png) transparent no-repeat;
  display:inline-block;
  height:21px;
  width:27px
}

/*-----------------------------------------------------------------------------------*/
/*		jCarousel
/*-----------------------------------------------------------------------------------*/

.jcarousel .item_image img
{
  width:100%
}

.jcarousel .jcarousel-container-horizontal
{
  max-width:100%;
  position:relative
}

.jcarousel-clip-horizontal
{
  overflow:hidden
}

.jcarousel .jcarousel-item-horizontal
{
  margin-right:20px
}

.jcarousel-next-horizontal
{
  background-image: url(images/arrow_back.png);
  background-repeat: no-repeat;
  background-color: #eee;
  background-position: center;
  cursor:pointer;
  height:30px;
  position:absolute;
  right:21px;
  top:-40px;
  width:30px
}

.jcarousel-next-horizontal:hover
{
  background-image:url(images/arrow_back_hover.png)
}

.jcarousel-prev-horizontal
{
  background:url(images/arrow_next.png);
  background-repeat: no-repeat;
  background-color: #eee;
  background-position: center;
  cursor:pointer;
  height:30px;
  position:absolute;
  right:55px;
  top:-40px;
  width:30px
}

.jcarousel-prev-horizontal:hover
{
  background-image:url(images/arrow_next_hover.png)
}

.about_page_carousel .jcarousel-prev-horizontal,
.about_page_carousel .jcarousel-next-horizontal
{
	top: 5px;
}

/*-----------------------------------------------------------------------------------*/
/*		About Page
/*-----------------------------------------------------------------------------------*/

.about-content
{
	text-align: center;
	font-weight: 300;
	font-size: 14px;
	margin-bottom: 100px;
}

.member
{
	margin-bottom: 35px;
}

.member .member-image
{
	margin-bottom:20px;
	position: relative;
}

.member .member-image img
{
	display:block;
}

.member .member-image .overlay
{
	width:100%;
	height: 100%;
	position:absolute;
	left:0;
	top:0;
	background: #009cff;
	opacity:0;
	-moz-transition:all 300ms ease 0s;
	-o-transition:all 300ms ease 0s;
	-webkit-transition:all 300ms ease 0s;
	transition:all 300ms ease 0s;	
}

.member .member-image:hover .overlay
{
	opacity:0.5;	
}

.member .title
{
	margin-bottom: 15px;
}

.member .title h4
{
	color: #009cff;
	font-size: 19px;
	font-weight: 700;
}

.member .subtitle
{
	color: #000;
	font-size: 14px;
	font-weight: 700;
}

.member .text
{
	color:#616161;
	font-weight: 300;
	font-size: 12px;
	margin-bottom: 10px;
}

.member .separator
{
	background: #919191;
	margin-bottom: 10px;
}

.member .links
{
	font-size: 13px;
	font-weight: 300;
}

.member .links a
{
	color: #616161;
}

.member .links a:hover
{
	color: #009cff;
}
/****************** member view *******************/

.member-view .member .title
{
	margin-bottom: 35px;
}

.member-view .member .title h1
{
	font-size: 46px;
	line-height: 46px;
	color: #141414;
	font-weight: 700;
	margin-bottom: 7px;
}

.member-view .member .title .separator2
{
	height: 5px;
	max-width: 175px;
	width: 100%;
	background-color: #a0a0a0;
	margin-bottom: 7px;
}

.member-view .member .title .subtitle
{
	font-size: 27px;
	font-weight: 300;
	color: #141414;
	line-height:27px;
}

/***************************************************/

div .searchbox
{
  /* float:right;      commented by AC */
  height:24px;
  margin:8px 0;
  max-width:190px;
  width:100%;
  border-radius: 3px;
}

div .searchbox input
{
  float:left;
  font-size:12px
}

div .searchbox input[type="text"]
{
  background-color:transparent;
  border:none;
  color:#767676;
  height:22px;
  padding:1px 5px;
  max-width:150px;
  width:100%;
  text-align: right;
}

div .searchbox input[type="submit"]
{
  background:transparent url(images/search_button.png) no-repeat center center;
  border:none;
  cursor:pointer;
  height:24px;
  margin:0;
  padding:0;
  width:26px
}

div .searchbox input[type="submit"]:hover
{
  background:transparent url(images/search_button_hover.png) no-repeat center center;
}

/*************************** WordPress Styles *************************/

.wp-caption {}
.wp-caption-text {}
.sticky {}
.gallery-caption {}
.bypostauthor {}
.alignright {
    float: right;
    margin-left: 2em;
}
.alignleft {
    float: left;
    margin-right: 2em;
}
.aligncenter {}

.wpcf7-text,
.wpcf7-textarea{
	background-color:#eee;
	border:0;
	color:#a8a8a8;	
	line-height:30px;
	margin-bottom:10px;
	padding:0 1%;
	max-width:98%
}

.wpcf7-text{
	height:38px;
	width: 320px;
}

.wpcf7-textarea{
	width: 630px;
	max-height: 130px;
	padding-bottom: 5px;
}

.wpcf7-submit
{
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	cursor: pointer;
	font-weight: 300;
	padding: 5px 15px; 
	font-size: 14px;
	background-color: #bbb;
	color: #fff;
}

.wpb_call_to_action .button
{
  background-color: #fff;
  color: #000;
}


/*-----------------------------------------------------------------------------------*/
/*		User-added styles
/*-----------------------------------------------------------------------------------*/

em, i {
    font-style: italic;
}

strong, b {
    font-weight: bold;
}

.center {
    text-align: center;
}

.location {
    display: inline-block;
    width: 300px;
    text-align: center;
    border: 1px solid #eee;
    padding: 1em;
    margin: 0 0.75em;
    background-color: #f9f9f9;
    box-shadow: 0 2px 2px rgba(0,0,0, 0.05);
}

    .location:hover {
        background-color: #f0f0f0;
        color: rgba(202,12,14, 1);
    }

.subject-areas {
    margin-bottom: 2em;
    overflow: hidden; /* floated children fix */
    text-align: center;
}

    .subject-areas > div {
        display: inline-block;
        float: none;
        margin: 0 0.5em;
    }

#header > .container {
    height: 90px;
}

.navigation {
    margin-top: 14px;
}

.tab_review img {
    float: right;
    margin-left: 15px;
}

.video.container {
    margin-bottom: 4em;
}

    .video.container iframe {
        margin-bottom: 2em;
    }

.video .description {
    width: 100%;
}

    .video .description p {
        font-size: 1.3em;
        line-height: 1.7;
        margin-top: 1.2em;
    }

#awards {
    margin-top: 2em;
}

hr#home-page-divider {
    border: 0;
    height: 16px;
    /* border-top: 2px solid #dcdcdc; */
    width: 50%;
    /* background: url(images/divider_squiggly.png) repeat no-repeat center center; */
    background: url(images/divider_jagged.png) no-repeat no-repeat center center; 
}

.portfolio-content ul, .portfolio-content ol {
    list-style: initial;
}

#awards .name {
    display: inline-block;
    padding: 0.5em 0.75em;
    margin-left: 1.5em;
    cursor: pointer;
    /* transition: color 0.2s, background-color 0.2s; */
}

    #awards .name:before {
        position: absolute;
        content: "";
        width: 0; height: 0;
        left: -18px;
        margin-top: -12px;
        border-width: 27px;
        border-style: solid;
        border-color: transparent;
        /* transition: border 0.2s; */
    }

    #awards .name:hover {
        color: white;
        background-color: #3fbfbf;
    }

    #awards .name:hover:before {
        border-right: 27px solid #3fbfbf;
    }

.award-text {
    display: none;
}

form.login {
    float: right;
    margin: 0.25em 0.5em 0;
}

    form.login:before {
        /* content: 'Student Login';    commented out by AC*/
        text-transform: uppercase;
        font-size: 0.9em;
        color: gray;
        margin-right: 0.4em;
    }

    form.login input {
        border: 1px solid #ccc;
        padding: 0.2em 0.4em;
        font-size: inherit;
        width: 100px;
        color: #999;
    }

        form.login input:focus {
            color: black;
        }

        form.login input[type=submit] {
            color: black;
            width: 50px;
        }

/* cottages */

#main.cottages {
    margin-right: auto;
    margin-left: auto;
}

ul.grades {
    margin-top: 2em;
}

ul.grades > li {
    display: block;
    overflow: hidden;
    margin-bottom: 3em;
    border-top: 1px solid #ccc;
}

ul.grades li h2 {
    float: left;
    margin-top: 0.5em;
    margin-right: 1em;
    width: 150px;
}

ul.grades li h3 {
    margin-bottom: 0.25em;
}

ul.themes {
    float: left;
}

    ul.themes > li {
        float: left;
        margin-top: 2em;
        margin-right: 2em;
        width: 200px;
    }

.sf-menu a.sf-with-ul {
    cursor: default;
}

.post-thumbnail-left img {
    float: right;
    margin: 0 0 2em 2em;
}

h1, h2, h3, h4, .title, .subtitle, .navigation, .tab_head {
    font-family: 'Overlock', cursive;
}

.tab_content {
    overflow: hidden;
    position: relative;
}

#tab2 .heading h3 {
    background-color: #3fbfbf;
    color: white;
    padding: 0.4em 0;
    display: inline-block;
    width: 100%;
}

#home-navigation ul {
    list-style-type: disc;
}

.tab_content .vertical-jagged-divider {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: red;
    width: 14px;
    height: 100%;
    background: url(images/divider_jagged_vertical.png) no-repeat center;
}

.tab_content .col.left {
    padding-right: 9em;
}

.btn.calendar {
    padding: 0.5em 1em;
    font-size: 1.5em;
    display: inline-block;
    margin-bottom: 1em;
    cursor: pointer;
}

.btn.calendar:hover {
    color: black;
    border: 1px solid #3fbfbf;
}


/* added by cremona */
#footer .search {
  float: left;
}

#footer #hx_search-2 h4 {
margin: 0;
}


/*-----------------------------------------------------------------------------------*/
/*   Styles added by EDUPRIZE Team
/*-----------------------------------------------------------------------------------*/

/* Header Styles /*-----------------------------------------------------------------------------------*/ 

/*---------------------------- Skip to content link --------------------------------*/ 

#accessext-highlight-div a {
  color: #245555; 
  } 

/*---------------------------- Contact Section --------------------------------------*/ 
.contact-section .contact-text {
  color: black; 
  }

/*---------------------------- Student login input text --------------------------------------*/ 

form.login input {
  color: #595959; 
}

/*---------------------------- Student login submit button --------------------------------------*/ 

form.login input[type=submit] { 
  background-color: #999; 
}

/*-----------------------------------------------------------------------------------*/ 

/* Body Styles /*-----------------------------------------------------------------------------------*/ 

body { 
  background-color: #eeeeee; color: #4f4f4f; 
  } 

.search input[type="submit"] { 
  color: #fff; 
  } 

.tab_review .post_date .day { 
  color: #424142; 
} 

.span7 a, .award-text a, .wpa-visible-ltr a, .contact-section a, .contact-section .contact-text a { 
  color: #245555; 
}

.button a { 
  color: #fff;
}

.tab_review .post_date .month { 
  color: #4f4f4f; 
  /* gives 7.1 ration to #eee */ 
} 

/* span, .frame_overlay a, h3, .title div, .subtitle div, .copyright span, a, #top_button a { 
  background-color: #245555; 
} */ 

#home-navigation .tab .selected span, .item_box .item_image .frame_overlay, .item_box:hover .title, #tab2 .heading h3, .tagline .title, .tagline .subtitle, #footer .copyright, #top_button { 
  color: black; 
} 

/*---------------------------- http://www.eduprizeschools.net/website-accessibility/ style edits --------------------------------------*/ 
#frm_form_10_container { 
  margin-top: 20px; 
}

#post-2217 ul { 
  margin-left: 50px; 
  line-height: 45px;
  list-style-type: circle; font-size: 115%; 
}

#post-2217 p { 
  line-height: 25px;
  font-size: 115%;
}

/*-----------------------------Footer Accessibility Edits----------------*/ 

.foot { 
  float: none; 
} 

#footer-logo { 
  float: left;
} 

span.copyright { 
  line-height: 20px;
  width: 80%;
  display: inline-block; 
} 

span.copyright a { 
  color: #fff;
}

span.copyright a:hover { 
  text-decoration: underline;
} 

#footer .copyright { 
  float: none; 
} 

#top-button { 
  float: right; 
} 

#field-exp, #field-exp th, #field-exp td { 
  border: 1px solid black;
  text-align: center;
  padding: 4px 10px; 
} 

#tab3, #tab3 a { 
  color: black;
} 

#tab3 p { 
  font-size: 1.3em;
} 

.black-table-border td, .black-table-border th {
  border: 1px solid black; 
  text-align: left; 
  padding: 5px; 
} 

.teal-header {
  color: black;
  background-color: #3FBFBF;
} 

/*-----------------------------Custom Style for Lunch Purchase Page ----------------*/ 
.lunch-products .woocommerce ul.products li.product {
	width: 75%
} 

.lunch-products .product_title {
	min-height: 85px;
}

span.amount {
    color: black;
}

h1.product_title.entry-title {
    color: black;
}

.WelcomeBackGilbertPrimary li {
   list-style: disc;
   margin-left:40px;
}

.disc li {
   list-style-type: disc;
   margin-left:40px;
}

.decimal li {
   list-style-type: decimal;
   margin-left:40px;
}

.material-btn {
  background-color: #3FBFBF;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  height: 33px;
  line-height: 33px;
  padding: 0 2rem;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;    
  outline: 0;
  text-decoration: none;
  color: #fff;
  text-align: center;
  letter-spacing: .5px;
  transition: .3s ease-out;
}

.material-btn:hover {
  background-color: rgb(70, 210, 210);
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}