@import url('http://fonts.googleapis.com/css?family=Ubuntu:700|Muli:300');
/* General */
.row:after,
.clear-after:after {
  content: "\0020";
}
.clear,
.row:after,
.clear-after:after {
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  clear: both;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
#px-container {
  width: 100%;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
}
#px-container a {
  text-decoration: none;
  font-size: 12px;
  -moz-transition: color 300ms ease-in-out 0s;
  -webkit-transition: color 300ms ease-in-out 0s;
  -o-transition: color 300ms ease-in-out 0s;
  transition: color 300ms ease-in-out 0s;
}
#px-container h1,
#px-container h2,
#px-container h3,
#px-container h4,
#px-container h5,
#px-container h6 {
  color: #FFF;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
}
#px-container h1 {
  font-size: 36px;
  line-height: 40px;
}
#px-container h2 {
  font-size: 30px;
  line-height: 34px;
}
#px-container h3 {
  font-size: 24px;
  line-height: 28px;
}
#px-container h4 {
  font-size: 18px;
  line-height: 21px;
}
#px-container h5 {
  font-size: 16px;
  line-height: 21px;
}
#px-container h6 {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
#px-container input[type="text"],
#px-container input[type="password"],
#px-container textarea,
#px-container select {
  color: #666;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  background: #F6F6F6;
  border: 0;
  margin: 0;
  width: 60%;
  -moz-box-shadow: inset 1px 1px 1px 0 #9b9b9b;
  -webkit-box-shadow: inset 1px 1px 1px 0 #9b9b9b;
  box-shadow: inset 1px 1px 1px 0 #9b9b9b;
}
#px-container input[type="password"],
#px-container input[type="text"] {
  padding-top: 4px;
  padding-bottom: 4px;
}
#px-container .text-input label {
  vertical-align: baseline;
  margin-right: 10px;
  display: inline-block;
  width: 17%;
}
#px-container.post-meta input[type="password"],
#px-container.post-meta input[type="text"],
#px-container.post-meta textarea,
#px-container.post-meta .select,
#px-container.post-meta select {
  width: 30%;
}
#px-container.post-meta label {
  width: 7%;
}
#px-container.post-meta .small-text input[type="text"] {
  width: 10%;
}
/* Page Setup */
#px-container.theme-settings {
  background-color: #373737;
}
#px-wrap {
  width: 820px;
  padding-right: 30px;
}
#px-container ul,
#px-container li {
  margin: 0;
  padding: 0;
}
/* Header */
#px-head {
  height: 150px;
}
#px-head .logo {
  float: left;
}
#px-head .support {
  float: right;
  margin: 10px 0 0;
}
#px-head .support li {
  display: inline;
}
#px-head .support a {
  display: block;
  color: #858585;
  float: right;
  padding: 0 5px;
}
#px-head .support a:hover {
  color: #CCC;
}
#px-head .support .separator {
  width: 1px;
  height: 14px;
  float: right;
  margin: 0 5px;
  background: #909090;
}
/* Columns */
#px-sidebar {
  padding-top: 44px;
  width: 240px;
  float: left;
}
.theme-settings #px-main {
  width: 580px;
  float: left;
}
/* Sidebar */
#px-sidebar .heading {
  text-align: center;
  text-transform: uppercase;
  display: block;
  height: 31px;
  background: url(../img/gear.png) no-repeat 25px top;
  margin-bottom: 30px;
}
#px-sidebar-accordion > div {
  background-color: #212121;
  color: #999;
}
#px-sidebar-accordion a {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
}
#px-sidebar-accordion h3 a {
  color: #FFF;
  display: block;
  height: 38px;
  line-height: 38px;
  font-size: 12px;
  padding-left: 25px;
  background: transparent url(../img/plus.png) no-repeat 95% center;
}
#px-sidebar-accordion > h3 a.active {
  background-image: url(../img/minus.png);
  background-color: #212121;
  color: #999;
}
#px-sidebar-accordion li a {
  display: block;
  line-height: 35px;
  color: #999;
  padding-left: 50px;
}
#px-sidebar-accordion li a.active,
#px-sidebar-accordion li:hover a {
  color: #FFF;
}
#px-sidebar-accordion li a.active {
  background-color: #475925;
}
#px-sidebar-accordion li:hover a {
  background-color: #586c31;
}
/* Main Container */
#px-main {
  background: #e8e8e8;
  /* Upload Field */

  /* Tooltips */

  /* Sliders */

}
#px-main .content-head {
  background: #74b000;
  height: 50px;
  padding: 0 0 0 15px;
}
#px-main .content-head h3 {
  font-size: 18px;
  float: left;
  line-height: 50px;
}
#px-main .save-button {
  position: relative;
  float: right;
  display: block;
  width: 55px;
  height: 50px;
  line-height: 50px;
  background: #9bdf18 url(../img/save_icon.png) 2px center no-repeat;
  padding-right: 7px;
  text-align: right;
  color: #fff;
  outline: none;
}
#px-main .save-button:hover,
#px-main .save-button:active {
  background-color: #94c733;
}
#px-main .save-button .loading-icon {
  display: none;
}
#px-main .save-button .tooltip {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  position: absolute;
  top: -100%;
  padding-bottom: 4px;
  background: url(../img/tooltip_arrow_down.png) no-repeat center bottom;
}
#px-main .save-button .tooltip div {
  background: #9bdf18;
  padding: 0 10px;
  line-height: 27px;
  text-transform: uppercase;
  color: #FFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#px-main .section {
  border-bottom: 1px solid #bcbcbc;
  padding: 15px;
  position: relative;
}
#px-main .section-head {
  margin-bottom: 20px;
  min-height: 23px;
}
#px-main .label {
  float: left;
  font-size: 18px;
  line-height: 18px;
  color: #6e6e6e;
}
#px-main .section-head .label {
  font-family: 'Ubuntu', sans-serif;
  color: #6e6e6e;
  font-size: 12px;
  float: none;
  margin-bottom: 10px;
}
#px-main .upload-field a,
#px-main .upload-field input {
  float: left;
}
#px-main .upload-field a.remove-button {
  padding: 3px 3px 0 10px;
}
#px-main .upload-field a.upload-button {
  display: block;
  margin-left: 5px;
  width: 50px;
  height: 23px;
  background: #656666 url(../img/upload_icon.png) no-repeat center center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#px-main .upload-field a.upload-button:hover {
  background-color: #74b000;
}
#px-main .upload-field a.upload-button:active {
  -moz-box-shadow: inset 1px 1px 2px 0 #355100;
  -webkit-box-shadow: inset 1px 1px 2px 0 #355100;
  box-shadow: inset 1px 1px 2px 0 #355100;
}
#px-main .section-tooltip {
  position: absolute;
  right: 15px;
  top: 15px;
  float: left;
}
#px-main .section-tooltip .icon {
  display: block;
  width: 23px;
  height: 23px;
  background: url(../img/hint_icon.png) no-repeat;
  margin: 0;
}
#px-main .section-tooltip .tip_wrapper {
  position: absolute;
  top: -100%;
  right: 0;
  padding: 0 0 20px 3px;
  z-index: 100;
}
#px-main .section-tooltip .text {
  color: #777;
  padding: 10px;
  background: #fbfbfb;
  width: 250px;
  line-height: 21px;
  -moz-box-shadow: -3px 3px 0 0 #cccccc;
  -webkit-box-shadow: -3px 3px 0 0 #cccccc;
  box-shadow: -3px 3px 0 0 #cccccc;
}
#px-main .section-tooltip .arrow_shade,
#px-main .section-tooltip .arrow {
  position: absolute;
  right: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 0 26px;
  border-color: #fbfbfb transparent transparent;
}
#px-main .section-tooltip .arrow_shade {
  right: 15px;
  border-color: #CCC transparent transparent;
}
#px-main input[type="range"],
#px-main .slider {
  width: 40%;
}
#px-main .switch,
#px-main input[type="range"],
#px-main .slider {
  float: right;
}
#px-main .switch,
#px-main input.switch {
  width: 7%;
}
#px-main .switch,
#px-main .slider {
  background: white;
  height: 10px;
  padding: 1px;
  border: 2px solid #232323;
}
#px-main .field {
  margin-bottom: 15px;
}
#px-main .field:last-child {
  margin-bottom: 0;
}
/* Main Container */
#px-container.post-meta .switch,
#px-container.post-meta input.switch {
  width: 10%;
}
#px-container.post-meta .switch-input {
  width: 30%;
}
/* Color picker */
.colorpicker input {
  height: 13px;
}
input.colorinput {
  width: 12% !important;
  float: right;
  margin-top: 6px !important;
  margin-right: 5px !important;
}
.post-meta input.colorinput {
  float: left;
}
#px-main .color-selector {
  width: 36px;
  height: 36px;
  background: url(../img/colorpicker/selector.png) no-repeat;
  float: right;
  position: relative;
}
.post-meta .color-selector {
  float: left !important;
}
#px-main .color-selector div {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 28px;
  height: 28px;
  background: url(../img/colorpicker/selector.png) no-repeat center;
}
/* Select */
#px-main .select {
  position: relative;
  width: 40%;
}
#px-main .select div {
  width: 96%;
  padding: 0 2%;
  height: 23px;
  line-height: 23px;
  background: #f6f6f6 url(../img/combobox_arrows.png) no-repeat 96% center;
  color: #666;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 1px 1px 1px 0 #9b9b9b;
  -webkit-box-shadow: inset 1px 1px 1px 0 #9b9b9b;
  box-shadow: inset 1px 1px 1px 0 #9b9b9b;
}
#px-main .select select {
  opacity: 0;
  height: 23px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* Multiselect */
.chzn-container-multi .chzn-choices {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.chzn-container-multi .chzn-choices .search-field input {
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  height: auto !important;
}
.chzn-container .chzn-results li {
  padding: 5px 6px !important;
}
.chzn-container-multi .chzn-choices .search-choice {
  padding: 3px 20px 3px 5px !important;
  margin: 3px 0 3px 5px !important;
}
.chzn-container .chzn-results .highlighted {
  background-color: #74B000;
  filter: none;
  background-image: none;
}
.chzn-container-active .chzn-choices {
  border-color: #74b000;
}
/* Image Select */
.imageSelect:after {
  display: table;
  content: "";
  clear: both;
}
.imageSelect a {
  display: block;
  float: left;
  margin-left: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: -2000px;
}
.imageSelect {
  margin-left: -15px;
}
/* Footer Widgets */
.imageSelect.footer-widgets a {
  width: 101px;
  height: 65px;
  margin-left: 10px;
}
.imageSelect.footer-widgets .selected,
.imageSelect.footer-widgets a:hover {
  background-color: #9f9f9f;
}
.imageSelect.footer-widgets .zero {
  background-image: url(../img/footer_widget0.png);
}
.imageSelect.footer-widgets .one {
  background-image: url(../img/footer_widget1.png);
}
.imageSelect.footer-widgets .two {
  background-image: url(../img/footer_widget2.png);
}
.imageSelect.footer-widgets .three {
  background-image: url(../img/footer_widget3.png);
}
.imageSelect.footer-widgets .four {
  background-image: url(../img/footer_widget4.png);
}
/* Page Sidebar */
.imageSelect.page-sidebar a {
  width: 133px;
  height: 99px;
}
.imageSelect.page-sidebar .selected,
.imageSelect.page-sidebar a:hover {
  background-color: #5b5b5b;
}
.imageSelect.page-sidebar .none {
  background-image: url(../img/no-sidebar.png);
}
.imageSelect.page-sidebar .left-side {
  background-image: url(../img/left-sidebar.png);
}
.imageSelect.page-sidebar .right-side {
  background-image: url(../img/right-sidebar.png);
}
/* CSV Input */
#px-container .csv-input input[type="text"] {
  float: left;
  width: 30%;
}
.csv-input .btn-add {
  float: left;
  width: 28px;
  height: 28px;
  display: block;
  margin-left: 10px;
  margin-top: -2px;
  background: #74b000 url(../img/plus1.png) no-repeat center center;
}
.csv-input .btn-add:active {
  background-color: #5f9000;
}
.csv-input .text-input {
  margin-bottom: 20px;
}
.csv-input .value {
  width: 285px;
  height: 30px;
  padding-left: 15px;
  line-height: 30px;
  background: #ffffff url(../img/dots1.png) no-repeat 5px center;
  margin-bottom: 15px;
  color: #7b7b7b;
  position: relative;
}
.csv-input .btn-close {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 30px;
  height: 30px;
  background: #74b000 url(../img/bin.png) no-repeat center center;
}
.csv-input .btn-close:active {
  background-color: #5f9000;
}

.visual_composer_tinymce {
color: black;
}

.sortable {
	margin: 5px;
	padding: 5px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.sortable.grid {
	overflow: hidden;
}
.sortable li {
	list-style: none;
	border: 1px solid #CCC;
	background: #D8D8D8;
	color: #6E6E6E;
	height: 22px;
}
.sortable.grid li {
	margin-left: 15px;
	line-height: 50px;	
	float: left;
	width: 115px;
	height: 50px;
	text-align: center;
}

.icon-pixflow {
  background-image: url("../img/vc-px-shortcodes.png");
  height: 15px;
  margin-top: -1px;
  width: 15px;
}